openapi: 3.0.3
info:
  title: Stream product:chat product:common API
  version: v228.3.0
servers:
- description: Stream API
  url: https://chat.stream-io-api.com
security:
- JWT: []
  api_key: []
  stream-auth-type: []
- api_key: []
  stream-auth-type: []
tags:
- name: product:common
paths:
  /api/v2/app:
    get:
      description: 'This Method returns the application settings

        '
      operationId: GetApp
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApplicationResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get App Settings
      tags:
      - product:common
    patch:
      description: 'This Method updates one or more application settings

        '
      operationId: UpdateApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update App Settings
      tags:
      - product:common
  /api/v2/blocklists:
    get:
      description: 'Returns all available block lists

        '
      operationId: ListBlockLists
      parameters:
      - in: query
        name: team
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBlockListResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List block lists
      tags:
      - product:common
    post:
      description: 'Creates a new application blocklist, once created the blocklist can be used by any channel type

        '
      operationId: CreateBlockList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBlockListRequest'
        description: Block list
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBlockListResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create block list
      tags:
      - product:common
  /api/v2/blocklists/{name}:
    delete:
      description: 'Deletes previously created application blocklist

        '
      operationId: DeleteBlockList
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: team
        schema:
          type: string
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete block list
      tags:
      - product:common
    get:
      description: 'Returns block list by given name

        '
      operationId: GetBlockList
      parameters:
      - in: path
        name: name
        required: true
        schema:
          description: Block list name
          title: Name
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: team
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockListResponse'
          description: GetBlockListResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get block list
      tags:
      - product:common
    put:
      description: 'Updates contents of the block list

        '
      operationId: UpdateBlockList
      parameters:
      - in: path
        name: name
        required: true
        schema:
          description: Block list name
          title: Name
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBlockListRequest'
        description: Update block list
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBlockListResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update block list
      tags:
      - product:common
  /api/v2/check_push:
    post:
      description: 'Sends a test message via push, this is a test endpoint to verify your push settings

        '
      operationId: CheckPush
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPushRequest'
        description: CheckPushRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckPushResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check push
      tags:
      - product:common
  /api/v2/check_sns:
    post:
      description: 'Validates Amazon SNS configuration

        '
      operationId: CheckSNS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSNSRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckSNSResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check SNS
      tags:
      - product:common
  /api/v2/check_sqs:
    post:
      description: 'Validates Amazon SQS credentials

        '
      operationId: CheckSQS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSQSRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckSQSResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check SQS
      tags:
      - product:common
  /api/v2/devices:
    delete:
      description: 'Deletes one device

        '
      operationId: DeleteDevice
      parameters:
      - in: query
        name: id
        required: true
        schema:
          description: Device ID to delete
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: user_id
        schema:
          description: '**Server-side only**. User ID which server acts upon'
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '002.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete device
      tags:
      - product:common
    get:
      description: 'Returns all available devices

        '
      operationId: ListDevices
      parameters:
      - in: query
        name: user_id
        schema:
          description: '**Server-side only**. User ID which server acts upon'
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '001.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDevicesResponse'
          description: ListDevicesResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List devices
      tags:
      - product:common
    post:
      description: 'Adds a new device to a user, if the same device already exists the call will have no effect

        '
      operationId: CreateDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceRequest'
        description: CreateDeviceRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create device
      tags:
      - product:common
  /api/v2/export/users:
    post:
      description: 'Exports user profile, reactions and messages for list of given users

        '
      operationId: ExportUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportUsersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportUsersResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Export users
      tags:
      - product:common
  /api/v2/external_storage:
    get:
      description: 'Lists external storage

        '
      operationId: ListExternalStorage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List external storage
      tags:
      - product:common
    post:
      description: 'Creates new external storage

        '
      operationId: CreateExternalStorage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalStorageRequest'
        description: CreateExternalStorageRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create external storage
      tags:
      - product:common
  /api/v2/external_storage/{name}:
    delete:
      description: 'Deletes external storage

        '
      operationId: DeleteExternalStorage
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete external storage
      tags:
      - product:common
    put:
      description: '

        '
      operationId: UpdateExternalStorage
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalStorageRequest'
        description: ExternalStorageRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update External Storage
      tags:
      - product:common
  /api/v2/external_storage/{name}/check:
    get:
      description: '

        '
      operationId: CheckExternalStorage
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check External Storage
      tags:
      - product:common
  /api/v2/guest:
    post:
      description: '

        '
      operationId: CreateGuest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuestRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGuestResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create Guest
      tags:
      - product:common
  /api/v2/import_urls:
    post:
      description: 'Creates a new import URL

        '
      operationId: CreateImportURL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImportURLRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImportURLResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create import URL
      tags:
      - product:common
  /api/v2/imports:
    get:
      description: 'Gets an import

        '
      operationId: ListImports
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportsResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get import
      tags:
      - product:common
    post:
      description: 'Creates a new import

        '
      operationId: CreateImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImportRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImportResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create import
      tags:
      - product:common
  /api/v2/imports/{id}:
    get:
      description: 'Gets an import

        '
      operationId: GetImport
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetImportResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get import
      tags:
      - product:common
  /api/v2/imports/v2:
    get:
      description: 'Lists all import v2 tasks for the app

        '
      operationId: ListImportV2Tasks
      parameters:
      - in: query
        name: state
        schema:
          format: int32
          type: integer
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportV2TasksResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List import v2 tasks
      tags:
      - product:common
    post:
      description: 'Creates a new import v2 task

        '
      operationId: CreateImportV2Task
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImportV2TaskRequest'
        description: ClientRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImportV2TaskResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create import v2 task
      tags:
      - product:common
  /api/v2/imports/v2/{id}:
    delete:
      description: 'Deletes an import v2 task. Can only delete tasks in queued state.

        '
      operationId: DeleteImportV2Task
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteImportV2TaskResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete import v2 task
      tags:
      - product:common
    get:
      description: 'Gets a single import v2 task by ID

        '
      operationId: GetImportV2Task
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetImportV2TaskResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get import v2 task
      tags:
      - product:common
  /api/v2/imports/v2/external-storage:
    delete:
      description: 'Removes the external storage configuration for the app. Idempotent: succeeds even if no configuration exists.

        '
      operationId: DeleteImporterExternalStorage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete external storage
      tags:
      - product:common
    get:
      description: 'Returns the current external storage configuration for the app. Returns 404 if no configuration exists.

        '
      operationId: GetImporterExternalStorage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get external storage
      tags:
      - product:common
    put:
      description: 'Creates or updates the external storage configuration for the app. Currently only AWS S3 (via cross-account IAM role assumption) is supported.

        '
      operationId: UpsertImporterExternalStorage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertExternalStorageRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert external storage
      tags:
      - product:common
  /api/v2/imports/v2/external-storage/validate:
    post:
      description: 'Validates the configured external S3 storage by performing a live STS AssumeRole and S3 ListObjectsV2 check.

        '
      operationId: ValidateImporterExternalStorage
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateExternalStorageResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Validate external storage
      tags:
      - product:common
  /api/v2/og:
    get:
      description: 'Get an OpenGraph attachment for a link

        '
      operationId: GetOG
      parameters:
      - in: query
        name: url
        required: true
        schema:
          description: URL to be scraped
          title: URL
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOGResponse'
          description: Get OG Attachment
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get OG
      tags:
      - product:common
  /api/v2/permissions:
    get:
      description: 'Lists all available permissions

        '
      operationId: ListPermissions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPermissionsResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List permissions
      tags:
      - product:common
  /api/v2/permissions/{id}:
    get:
      description: 'Gets custom permission

        '
      operationId: GetPermission
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: Permission ID
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomPermissionResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get permission
      tags:
      - product:common
  /api/v2/polls:
    post:
      description: 'Creates a new poll

        '
      operationId: CreatePoll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePollRequest'
        description: Create Poll Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create poll
      tags:
      - product:common
    put:
      description: 'Updates a poll


        Sends events:

        - feeds.poll.closed

        - feeds.poll.updated

        - poll.closed

        - poll.updated

        '
      operationId: UpdatePoll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePollRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update poll
      tags:
      - product:common
  /api/v2/polls/{poll_id}:
    delete:
      description: 'Deletes a poll


        Sends events:

        - feeds.poll.deleted

        - poll.deleted

        '
      operationId: DeletePoll
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete poll
      tags:
      - product:common
    get:
      description: 'Retrieves a poll

        '
      operationId: GetPoll
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get poll
      tags:
      - product:common
    patch:
      description: 'Updates a poll partially


        Sends events:

        - feeds.poll.closed

        - feeds.poll.updated

        - poll.closed

        - poll.updated

        '
      operationId: UpdatePollPartial
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePollPartialRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Partial update poll
      tags:
      - product:common
  /api/v2/polls/{poll_id}/options:
    post:
      description: 'Creates a poll option


        Sends events:

        - feeds.poll.updated

        - poll.updated

        '
      operationId: CreatePollOption
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePollOptionRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollOptionResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create poll option
      tags:
      - product:common
    put:
      description: 'Updates a poll option


        Sends events:

        - feeds.poll.updated

        - poll.updated

        '
      operationId: UpdatePollOption
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePollOptionRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollOptionResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update poll option
      tags:
      - product:common
  /api/v2/polls/{poll_id}/options/{option_id}:
    delete:
      description: 'Deletes a poll option


        Sends events:

        - feeds.poll.updated

        - poll.updated

        '
      operationId: DeletePollOption
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '002'
      - in: path
        name: option_id
        required: true
        schema:
          description: Option ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '003'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete poll option
      tags:
      - product:common
    get:
      description: 'Retrieves a poll option

        '
      operationId: GetPollOption
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '002'
      - in: path
        name: option_id
        required: true
        schema:
          description: Option ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '003'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollOptionResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get poll option
      tags:
      - product:common
  /api/v2/polls/{poll_id}/votes:
    post:
      description: 'Queries votes

        '
      operationId: QueryPollVotes
      parameters:
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryPollVotesRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollVotesResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query votes
      tags:
      - product:common
  /api/v2/polls/query:
    post:
      description: 'Queries polls

        '
      operationId: QueryPolls
      parameters:
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryPollsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPollsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query polls
      tags:
      - product:common
  /api/v2/push_preferences:
    post:
      description: 'Upserts the push preferences for a user and or channel member. Set to all, mentions or none

        '
      operationId: UpdatePushNotificationPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPushPreferencesRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertPushPreferencesResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Push notification preferences
      tags:
      - product:common
  /api/v2/push_providers:
    get:
      description: 'List details of all push providers.

        '
      operationId: ListPushProviders
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPushProvidersResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List push providers
      tags:
      - product:common
    post:
      description: 'Upsert a push provider for v2 with multi bundle/package support

        '
      operationId: UpsertPushProvider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPushProviderRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertPushProviderResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert a push provider
      tags:
      - product:common
  /api/v2/push_providers/{type}/{name}:
    delete:
      description: 'Delete a push provider from v2 with multi bundle/package support. v1 isn''t supported in this endpoint

        '
      operationId: DeletePushProvider
      parameters:
      - in: path
        name: type
        required: true
        schema:
          enum:
          - apn
          - firebase
          - huawei
          - xiaomi
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: name
        required: true
        schema:
          maxLength: 36
          minLength: 1
          type: string
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a push provider
      tags:
      - product:common
  /api/v2/push_templates:
    get:
      description: 'Retrieve push notification templates for Chat.

        '
      operationId: GetPushTemplates
      parameters:
      - in: query
        name: push_provider_name
        schema:
          description: Push provider name to filter templates
          title: string
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: push_provider_type
        required: true
        schema:
          description: 'Push provider type to filter templates. One of: firebase, apn, huawei, xiaomi'
          enum:
          - firebase
          - apn
          - huawei
          - xiaomi
          title: string
          type: string
          writeOnly: true
          x-stream-index: '003'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPushTemplatesResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get push notification templates
      tags:
      - product:common
    post:
      description: 'Create or update a push notification template for a specific event type and push provider

        '
      operationId: UpsertPushTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPushTemplateRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertPushTemplateResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert a push notification template
      tags:
      - product:common
  /api/v2/rate_limits:
    get:
      description: 'Get rate limits usage and quotas

        '
      operationId: GetRateLimits
      parameters:
      - in: query
        name: server_side
        schema:
          description: Whether to include server-side platform limits or not
          title: Server-side
          type: boolean
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: android
        schema:
          description: Whether to include Android platform limits or not
          title: Android
          type: boolean
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: ios
        schema:
          description: Whether to include iOS platform limits or not
          title: iOS
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: web
        schema:
          description: Whether to include web platform limits or not
          title: Web
          type: boolean
          writeOnly: true
          x-stream-index: '004'
      - in: query
        name: endpoints
        schema:
          description: Specific endpoints to show limits for, as a comma-separated list of values
          title: Endpoints
          type: string
          writeOnly: true
          x-stream-index: '005'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRateLimitsResponse'
          description: Get Rate Limits Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get rate limits
      tags:
      - product:common
  /api/v2/roles:
    get:
      description: 'Lists all available roles

        '
      operationId: ListRoles
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRolesResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List roles
      tags:
      - product:common
    post:
      description: 'Creates custom role

        '
      operationId: CreateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRoleResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create role
      tags:
      - product:common
  /api/v2/roles/{name}:
    delete:
      description: 'Deletes custom role

        '
      operationId: DeleteRole
      parameters:
      - in: path
        name: name
        required: true
        schema:
          description: Role name
          title: Name
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete role
      tags:
      - product:common
  /api/v2/tasks/{id}:
    get:
      description: 'Gets status of a task

        '
      operationId: GetTask
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: Task ID
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaskResponse'
          description: Get Task Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get status of a task
      tags:
      - product:common
  /api/v2/uploads/file:
    delete:
      description: 'Deletes previously uploaded file

        '
      operationId: DeleteFile
      parameters:
      - in: query
        name: url
        schema:
          description: File URL to delete
          title: URL
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete file
      tags:
      - product:common
    post:
      description: 'Uploads file

        '
      operationId: UploadFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upload file
      tags:
      - product:common
  /api/v2/uploads/image:
    delete:
      description: 'Deletes previously uploaded image

        '
      operationId: DeleteImage
      parameters:
      - in: query
        name: url
        schema:
          description: File URL to delete
          title: URL
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete image
      tags:
      - product:common
    post:
      description: 'Uploads image

        '
      operationId: UploadImage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageUploadRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upload image
      tags:
      - product:common
  /api/v2/usergroups:
    get:
      description: 'Lists user groups with cursor-based pagination

        '
      operationId: ListUserGroups
      parameters:
      - in: query
        name: limit
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: id_gt
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: created_at_gt
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: team_id
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '004'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUserGroupsResponse'
          description: ListUserGroupsResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List user groups
      tags:
      - product:common
    post:
      description: 'Creates a new user group, optionally with initial members

        '
      operationId: CreateUserGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserGroupRequest'
        description: CreateUserGroupRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserGroupResponse'
          description: CreateUserGroupResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create user group
      tags:
      - product:common
  /api/v2/usergroups/{id}:
    delete:
      description: 'Deletes a user group and all its members

        '
      operationId: DeleteUserGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: team_id
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete user group
      tags:
      - product:common
    get:
      description: 'Gets a user group by ID, including its members

        '
      operationId: GetUserGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: team_id
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserGroupResponse'
          description: GetUserGroupResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get user group
      tags:
      - product:common
    put:
      description: 'Updates a user group''s name and/or description. team_id is immutable.

        '
      operationId: UpdateUserGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserGroupRequest'
        description: UpdateUserGroupRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserGroupResponse'
          description: UpdateUserGroupResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update user group
      tags:
      - product:common
  /api/v2/usergroups/{id}/members:
    post:
      description: 'Adds members to a user group. All user IDs must exist. The operation is all-or-nothing.

        '
      operationId: AddUserGroupMembers
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserGroupMembersRequest'
        description: AddUserGroupMembersRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserGroupMembersResponse'
          description: AddUserGroupMembersResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add user group members
      tags:
      - product:common
  /api/v2/usergroups/{id}/members/delete:
    post:
      description: 'Removes members from a user group. Users already not in the group are silently ignored.

        '
      operationId: RemoveUserGroupMembers
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveUserGroupMembersRequest'
        description: RemoveUserGroupMembersRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveUserGroupMembersResponse'
          description: RemoveUserGroupMembersResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Remove user group members
      tags:
      - product:common
  /api/v2/usergroups/search:
    get:
      description: 'Searches user groups by name prefix for autocomplete

        '
      operationId: SearchUserGroups
      parameters:
      - in: query
        name: query
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: limit
        schema:
          format: int32
          maximum: 25
          minimum: 1
          type: integer
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: name_gt
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: id_gt
        schema:
          type: string
          writeOnly: true
          x-stream-index: '004'
      - in: query
        name: team_id
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '005'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchUserGroupsResponse'
          description: SearchUserGroupsResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Search user groups
      tags:
      - product:common
  /api/v2/users:
    get:
      description: 'Find and filter users

        '
      operationId: QueryUsers
      parameters:
      - content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryUsersPayload'
              x-stream-index: '001'
        in: query
        name: payload
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query users
      tags:
      - product:common
    patch:
      description: 'Updates certain fields of the user


        Sends events:

        - user.presence.changed

        - user.updated

        '
      operationId: UpdateUsersPartial
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUsersPartialRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Partially update user
      tags:
      - product:common
    post:
      description: 'Update or create users in bulk


        Sends events:

        - user.updated

        '
      operationId: UpdateUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUsersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert users
      tags:
      - product:common
  /api/v2/users/{user_id}/deactivate:
    post:
      description: 'Deactivates user with possibility to activate it back


        Sends events:

        - user.deactivated

        '
      operationId: DeactivateUser
      parameters:
      - in: path
        name: user_id
        required: true
        schema:
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateUserRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateUserResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Deactivate user
      tags:
      - product:common
  /api/v2/users/{user_id}/export:
    get:
      description: 'Exports the user''s profile, reactions and messages. Raises an error if a user has more than 10k messages or reactions

        '
      operationId: ExportUser
      parameters:
      - in: path
        name: user_id
        required: true
        schema:
          title: User ID
          type: string
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportUserResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Export user
      tags:
      - product:common
  /api/v2/users/{user_id}/reactivate:
    post:
      description: 'Activates user who''s been deactivated previously


        Sends events:

        - user.reactivated

        '
      operationId: ReactivateUser
      parameters:
      - in: path
        name: user_id
        required: true
        schema:
          title: User ID
          type: string
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactivateUserRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactivateUserResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Reactivate user
      tags:
      - product:common
  /api/v2/users/block:
    get:
      description: 'Get list of blocked Users

        '
      operationId: GetBlockedUsers
      parameters:
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBlockedUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get list of blocked Users
      tags:
      - product:common
    post:
      description: 'Block users

        '
      operationId: BlockUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUsersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Block user
      tags:
      - product:common
  /api/v2/users/deactivate:
    post:
      description: 'Deactivate users in batches


        Sends events:

        - user.deactivated

        '
      operationId: DeactivateUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeactivateUsersRequest'
        description: DeactivateUsersRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivateUsersResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Deactivate users
      tags:
      - product:common
  /api/v2/users/delete:
    post:
      description: 'Deletes users and optionally all their belongings asynchronously.


        Sends events:

        - channel.deleted

        - user.deleted

        '
      operationId: DeleteUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUsersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete Users
      tags:
      - product:common
  /api/v2/users/live_locations:
    get:
      description: 'Retrieves all active live locations for a user

        '
      operationId: GetUserLiveLocations
      parameters:
      - in: query
        name: user_id
        schema:
          description: User ID to get live locations for. If not provided, returns live locations for the authenticated user.
          title: string
          type: string
          writeOnly: true
          x-stream-index: '001.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedLocationsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get user live locations
      tags:
      - product:common
    put:
      description: 'Updates an existing live location with new coordinates or expiration time

        '
      operationId: UpdateLiveLocation
      parameters:
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '005.001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLiveLocationRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedLocationResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update live location
      tags:
      - product:common
  /api/v2/users/reactivate:
    post:
      description: 'Reactivate users in batches


        Sends events:

        - user.reactivated

        '
      operationId: ReactivateUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactivateUsersRequest'
        description: ReactivateUsersRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactivateUsersResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Reactivate users
      tags:
      - product:common
  /api/v2/users/restore:
    post:
      description: 'Restore soft deleted users

        '
      operationId: RestoreUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreUsersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Restore users
      tags:
      - product:common
  /api/v2/users/unblock:
    post:
      description: 'Unblock users

        '
      operationId: UnblockUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnblockUsersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnblockUsersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Unblock user
      tags:
      - product:common
components:
  schemas:
    AsyncModerationCallbackConfig:
      properties:
        mode:
          enum:
          - CALLBACK_MODE_NONE
          - CALLBACK_MODE_REST
          - CALLBACK_MODE_TWIRP
          type: string
          x-stream-index: '002'
        server_url:
          type: string
          x-stream-index: '001'
      type: object
    CreateGuestResponse:
      nullable: true
      properties:
        access_token:
          description: the access token to authenticate the user
          title: Access token
          type: string
          x-stream-index: '002'
        duration:
          description: Duration of the request in milliseconds
          title: Duration
          type: string
          x-stream-index: '003.001'
        user:
          $ref: '#/components/schemas/UserResponse'
          description: User object which server acts upon
          title: User
          x-stream-index: '001'
      required:
      - user
      - access_token
      - duration
      type: object
    RTMPLocation:
      properties:
        name:
          type: string
          x-stream-index: '001'
        stream_key:
          type: string
          x-stream-index: '003'
        stream_url:
          type: string
          x-stream-index: '002'
      required:
      - name
      - stream_url
      - stream_key
      type: object
    CreateExternalStorageResponse:
      description: Basic response information
      nullable: true
      properties:
        duration:
          description: Duration of the request in milliseconds
          title: Duration
          type: string
          x-stream-index: '001.001'
      required:
      - duration
      title: Response
      type: object
    CreateBlockListRequest:
      description: Block list contains restricted words
      nullable: true
      properties:
        is_leet_check_enabled:
          type: boolean
          x-stream-index: '001'
        is_plural_check_enabled:
          type: boolean
          x-stream-index: '002'
        name:
          description: Block list name
          maxLength: 255
          title: Name
          type: string
          x-stream-index: '003'
        team:
          type: string
          x-stream-index: '006'
        type:
          description: 'Block list type. One of: regex, domain, domain_allowlist, email, email_allowlist, word'
          enum:
          - regex
          - domain
          - domain_allowlist
          - email
          - email_allowlist
          - word
          title: Type
          type: string
          x-stream-index: '005'
        words:
          description: List of words to block
          items:
            type: string
          title: Words
          type: array
          x-stream-index: '004'
      required:
      - name
      - words
      title: Block list
      type: object
      x-stream-docs-page-id: block_lists
    BlockUsersRequest:
      nullable: true
      properties:
        blocked_user_id:
          description: User id to block
          title: BlockedUserID
          type: string
          x-stream-index: '001'
        user:
          $ref: '#/components/schemas/UserRequest'
          x-stream-index: '003.002'
        user_id:
          type: string
          x-stream-index: '003.001'
      required:
      - blocked_user_id
      type: object
    BlockListResponse:
      description: Block list contains restricted words
      properties:
        created_at:
          description: Date/time of creation
          format: date-time
          title: Created at
          type: number
          x-stream-index: '001'
        id:
          type: string
          x-stream-index: '003'
        is_leet_check_enabled:
          type: boolean
          x-stream-index: 008
        is_plural_check_enabled:
          type: boolean
          x-stream-index: 009
        name:
          description: Block list name
          title: Name
          type: string
          x-stream-index: '004'
        team:
          type: string
          x-stream-index: '007'
        type:
          description: 'Block list type. One of: regex, domain, domain_allowlist, email, email_allowlist, word'
          title: Type
          type: string
          x-stream-index: '005'
        updated_at:
          description: Date/time of the last update
          format: date-time
          title: Updated at
          type: number
          x-stream-index: '002'
        words:
          description: List of words to block
          items:
            type: string
          title: Words
          type: array
          x-stream-index: '006'
      required:
      - name
      - type
      - words
      - is_leet_check_enabled
      - is_plural_check_enabled
      title: Block list
      type: object
      x-stream-docs-page-id: block_lists
    GetBlockListResponse:
      description: Response for get block list
      nullable: true
      properties:
        blocklist:
          $ref: '#/components/schemas/BlockListResponse'
          description: Block list object
          title: BlockListResponse
          x-stream-index: '001'
        duration:
          type: string
          x-stream-index: '002.001'
      required:
      - duration
      title: GetBlockListResponse
      type: object
      x-stream-docs-page-id: get_block_list
    NotificationSettings:
      properties:
        call_live_started:
          $ref: '#/components/schemas/EventNotificationSettings'
          x-stream-index: '002'
        call_missed:
          $ref: '#/components/schemas/EventNotificationSettings'
          x-stream-index: '006'
        call_notification:
          $ref: '#/components/schemas/EventNotificationSettings'
          x-stream-index: '004'
        call_ring:
          $ref: '#/components/schemas/EventNotificationSettings'
          x-stream-index: '005'
        enabled:
          type: boolean
          x-stream-index: '001'
        session_started:
          $ref: '#/components/schemas/EventNotificationSettings'
          x-stream-index: '003'
      required:
      - enabled
      - call_live_started
      - session_started
      - call_notification
      - call_ring
      - call_missed
      type: object
    APIError:
      nullable: true
      properties:
        StatusCode:
          description: Response HTTP status code
          format: int32
          title: Status code
          type: integer
          x-stream-index: '004'
        code:
          description: API error code
          format: int32
          title: Code
          type: integer
          x-stream-index: '001'
        details:
          description: Additional error-specific information
          items:
            type: integer
          title: Details
          type: array
          x-stream-index: '007'
        duration:
          description: Request duration
          title: Duration
          type: string
          x-stream-index: '005'
        exception_fields:
          additionalProperties:
            type: string
          description: Additional error info
          title: Exception fields
          type: object
          x-stream-index: '003'
        message:
          description: Message describing an error
          title: Message
          type: string
          x-stream-index: '002'
        more_info:
          description: URL with additional information
          title: More info
          type: string
          x-stream-index: '006'
        unrecoverable:
          description: Flag that indicates if the error is unrecoverable, requests that return unrecoverable errors should not be retried, this error only applies to the request that caused it
          title: Unrecoverable
          type: boolean
          x-stream-index: 008
      required:
      - code
      - message
      - StatusCode
      - duration
      - more_info
      - details
      title: Error response
      type: object
    GetBlockedUsersResponse:
      nullable: true
      properties:
        blocks:
          description: Array of blocked user object
          items:
            $ref: '#/components/schemas/BlockedUserResponse'
          title: Blocks
          type: array
          x-stream-index: '001'
        duration:
          description: Duration of the request in milliseconds
          title: Duration
          type: string
          x-stream-index: '002.001'
      required:
      - blocks
      - duration
      type: object
    PollResponseData:
      properties:
        allow_answers:
          type: boolean
          x-stream-index: 008
        allow_user_suggested_options:
          type: boolean
          x-stream-index: '007'
        answers_count:
          format: int32
          type: integer
          x-stream-index: '012'
        created_at:
          format: date-time
          type: number
          x-stream-index: 019
        created_by:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: 018
        created_by_id:
          type: string
          x-stream-index: '017'
        custom:
          additionalProperties: {}
          type: object
          x-stream-index: '021'
        description:
          type: string
          x-stream-index: '003'
        enforce_unique_vote:
          type: boolean
          x-stream-index: '005'
        id:
          type: string
          x-stream-index: '001'
        is_closed:
          type: boolean
          x-stream-index: 009
        latest_answers:
          items:
            $ref: '#/components/schemas/PollVoteResponseData'
          type: array
          x-stream-index: '015'
        latest_votes_by_option:
          additionalProperties:
            items:
              $ref: '#/components/schemas/PollVoteResponseData'
            type: array
          type: object
          x-stream-index: '014'
        max_votes_allowed:
          format: int32
          type: integer
          x-stream-index: '006'
        name:
          type: string
          x-stream-index: '002'
        options:
          items:
            $ref: '#/components/schemas/PollOptionResponseData'
          type: array
          x-stream-index: '011'
        own_votes:
          items:
            $ref: '#/components/schemas/PollVoteResponseData'
          type: array
          x-stream-index: '016'
        updated_at:
          format: date-time
          type: number
          x-stream-index: '020'
        vote_count:
          format: int32
          type: integer
          x-stream-index: '010'
        vote_counts_by_option:
          additionalProperties:
            format: int32
            type: integer
          type: object
          x-stream-index: '013'
        voting_visibility:
          type: string
          x-stream-index: '004'
      required:
      - id
      - name
      - description
      - voting_visibility
      - enforce_unique_vote
      - allow_user_suggested_options
      - allow_answers
      - vote_count
      - options
      - answers_count
      - vote_counts_by_option
      - latest_votes_by_option
      - latest_answers
      - own_votes
      - created_by_id
      - created_at
      - updated_at
      - custom
      type: object
    RecordSettings:
      properties:
        audio_only:
          type: boolean
          x-stream-index: '001'
        layout:
          $ref: '#/components/schemas/LayoutSettings'
          x-stream-index: '004'
        mode:
          type: string
          x-stream-index: '002'
        quality:
          type: string
          x-stream-index: '003'
      required:
      - mode
      type: object
    CreateUserGroupRequest:
      description: Request body for creating a user group
      nullable: true
      properties:
        description:
          description: An optional description for the group
          maxLength: 1024
          title: Description
          type: string
          x-stream-index: '003'
        id:
          description: Optional user group ID. If not provided, a UUID v7 will be generated
          maxLength: 255
          title: ID
          type: string
          x-stream-index: '001'
        member_ids:
          description: Optional initial list of user IDs to add as members
          items:
            type: string
          maxItems: 100
          title: Member IDs
          type: array
          x-stream-index: '005'
        name:
          description: The user friendly name of the user group
          maxLength: 255
          minLength: 1
          title: Name
          type: string
          x-stream-index: '002'
[...]
