openapi: 3.0.3
info:
  title: Stream product:chat product:feeds API
  version: v228.3.0
servers:
- description: Stream API
  url: https://chat.stream-io-api.com
security:
- JWT: []
  api_key: []
  stream-auth-type: []
- api_key: []
  stream-auth-type: []
tags:
- name: product:feeds
paths:
  /api/v2/feeds/activities:
    post:
      description: 'Create a new activity or update an existing one

        '
      operationId: AddActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddActivityRequest'
        description: Activity Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddActivityResponse'
          description: Add Activity Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add a single activity
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/bookmarks:
    delete:
      description: 'Deletes a bookmark from an activity

        '
      operationId: DeleteBookmark
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: folder_id
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBookmarkResponse'
          description: Delete Bookmark Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a bookmark
      tags:
      - product:feeds
    patch:
      description: 'Updates a bookmark for an activity

        '
      operationId: UpdateBookmark
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookmarkRequest'
        description: Update Bookmark Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBookmarkResponse'
          description: Update Bookmark Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update bookmark
      tags:
      - product:feeds
    post:
      description: 'Adds a bookmark to an activity

        '
      operationId: AddBookmark
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBookmarkRequest'
        description: Add Bookmark Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBookmarkResponse'
          description: Add Bookmark Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add bookmark
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/feedback:
    post:
      description: 'Submit feedback for an activity including options to show less, hide, report, or mute the user

        '
      operationId: ActivityFeedback
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityFeedbackRequest'
        description: Activity Feedback Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFeedbackResponse'
          description: Activity Feedback Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Provide feedback on an activity
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/polls/{poll_id}/vote:
    post:
      description: 'Cast a vote on a poll


        Sends events:

        - feeds.poll.vote_casted

        - feeds.poll.vote_changed

        - feeds.poll.vote_removed

        - poll.vote_casted

        - poll.vote_changed

        - poll.vote_removed

        '
      operationId: CastPollVote
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '003'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CastPollVoteRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollVoteResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Cast vote
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/polls/{poll_id}/vote/{vote_id}:
    delete:
      description: 'Delete a vote from a poll


        Sends events:

        - feeds.poll.vote_removed

        - poll.vote_removed

        '
      operationId: DeletePollVote
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003'
      - in: path
        name: poll_id
        required: true
        schema:
          description: Poll ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '004'
      - in: path
        name: vote_id
        required: true
        schema:
          description: Vote ID
          maxLength: 255
          title: string
          type: string
          x-stream-index: '005'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PollVoteResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete vote
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/reactions:
    post:
      description: 'Adds a reaction to an activity

        '
      operationId: AddActivityReaction
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddReactionRequest'
        description: Add Reaction Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddReactionResponse'
          description: Add Reaction Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add reaction
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/reactions/{type}:
    delete:
      description: 'Removes a reaction from an activity

        '
      operationId: DeleteActivityReaction
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: type
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: delete_notification_activity
        schema:
          description: 'Whether to delete the corresponding notification activity (default: false)'
          title: Delete Notification Activity
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '004.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteActivityReactionResponse'
          description: Delete Activity Reaction Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Remove reaction
      tags:
      - product:feeds
  /api/v2/feeds/activities/{activity_id}/reactions/query:
    post:
      description: 'Query activity reactions

        '
      operationId: QueryActivityReactions
      parameters:
      - in: path
        name: activity_id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryActivityReactionsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActivityReactionsResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query activity reactions
      tags:
      - product:feeds
  /api/v2/feeds/activities/{id}:
    delete:
      description: 'Delete a single activity by its ID

        '
      operationId: DeleteActivity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: hard_delete
        schema:
          description: Whether to permanently delete the activity instead of soft delete
          title: Hard Delete
          type: boolean
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: delete_notification_activity
        schema:
          description: Whether to also delete any notification activities created from mentions in this activity
          title: Delete Notification Activity
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteActivityResponse'
          description: Delete Activity Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a single activity
      tags:
      - product:feeds
    get:
      description: 'Returns activity by ID

        '
      operationId: GetActivity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: comment_sort
        schema:
          description: 'Order of comments in the activity. One of: first, last, popular'
          enum:
          - first
          - last
          - popular
          title: Comment Sort
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: comment_limit
        schema:
          description: Maximum number of comments to return
          format: int32
          maximum: 20
          minimum: 0
          title: Comment Limit
          type: integer
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '004.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivityResponse'
          description: Get Activity Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get activity
      tags:
      - product:feeds
    patch:
      description: 'Updates certain fields of the activity. Use ''set'' to update specific fields and ''unset'' to remove fields. This allows you to update only the fields you need without replacing the entire activity. Useful for updating reply restrictions (''restrict_replies''), mentioned users, or custom data.


        Sends events:

        - feeds.activity.updated

        '
      operationId: UpdateActivityPartial
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivityPartialRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActivityPartialResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Partial activity update
      tags:
      - product:feeds
    put:
      description: 'Replaces an activity with the provided data. Use this to update text, attachments, reply restrictions (''restrict_replies''), mentioned users, and other activity fields. Note: This is a full update - any fields not provided will be cleared.


        Sends events:

        - feeds.activity.updated

        '
      operationId: UpdateActivity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivityRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActivityResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Full activity update
      tags:
      - product:feeds
  /api/v2/feeds/activities/{id}/restore:
    post:
      description: 'Restores a soft-deleted, moderation-removed, or shadow-blocked activity by its ID. Deleted activities can be restored by the owner (client-side). Moderation-blocked activities can only be restored server-side.

        '
      operationId: RestoreActivity
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: enrich_own_fields
        schema:
          type: boolean
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreActivityRequest'
        description: Restore Activity Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreActivityResponse'
          description: Restore Activity Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Restore an activity
      tags:
      - product:feeds
  /api/v2/feeds/activities/batch:
    post:
      description: 'Create new activities or update existing ones in a batch operation

        '
      operationId: UpsertActivities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertActivitiesRequest'
        description: Upsert Activities Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertActivitiesResponse'
          description: Upsert Activities Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert multiple activities
      tags:
      - product:feeds
  /api/v2/feeds/activities/batch/partial:
    patch:
      description: 'Updates certain fields of multiple activities in a batch. Use ''set'' to update specific fields and ''unset'' to remove fields. Activities that fail due to not found, permission denied, or no changes detected are silently skipped and not included in the response. However, validation errors (e.g., updating reserved fields, invalid field values) will fail the entire batch request.


        Sends events:

        - feeds.activity.updated

        '
      operationId: UpdateActivitiesPartialBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateActivitiesPartialBatchRequest'
        description: Update Activities Partial Batch Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActivitiesPartialBatchResponse'
          description: Update Activities Partial Batch Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Batch partial activity update
      tags:
      - product:feeds
  /api/v2/feeds/activities/delete:
    post:
      description: 'Delete one or more activities by their IDs

        '
      operationId: DeleteActivities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteActivitiesRequest'
        description: Delete Activities Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteActivitiesResponse'
          description: Delete Activities Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Remove multiple activities
      tags:
      - product:feeds
  /api/v2/feeds/activities/metrics/track:
    post:
      description: 'Track metric events (views, clicks, impressions) for activities. Supports batching up to 100 events per request. Each event is independently rate-limited per user per activity per metric. Server-side calls must include user_id.

        '
      operationId: TrackActivityMetrics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackActivityMetricsRequest'
        description: Track Activity Metrics Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackActivityMetricsResponse'
          description: Track Activity Metrics Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Track activity metrics
      tags:
      - product:feeds
  /api/v2/feeds/activities/query:
    post:
      description: 'Query activities based on filters with pagination and sorting options

        '
      operationId: QueryActivities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryActivitiesRequest'
        description: Query Activities Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActivitiesResponse'
          description: Query Activities Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query activities
      tags:
      - product:feeds
  /api/v2/feeds/bookmark_folders/{folder_id}:
    delete:
      description: 'Delete a bookmark folder by its ID

        '
      operationId: DeleteBookmarkFolder
      parameters:
      - in: path
        name: folder_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBookmarkFolderResponse'
          description: Delete Bookmark Folder Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a bookmark folder
      tags:
      - product:feeds
    patch:
      description: 'Update a bookmark folder by its ID

        '
      operationId: UpdateBookmarkFolder
      parameters:
      - in: path
        name: folder_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookmarkFolderRequest'
        description: Update Bookmark Folder Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBookmarkFolderResponse'
          description: Update Bookmark Folder Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update a bookmark folder
      tags:
      - product:feeds
  /api/v2/feeds/bookmark_folders/query:
    post:
      description: 'Query bookmark folders with filter query

        '
      operationId: QueryBookmarkFolders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryBookmarkFoldersRequest'
        description: Query Bookmark Folders Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryBookmarkFoldersResponse'
          description: Query Bookmark Folders Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query bookmark folders
      tags:
      - product:feeds
  /api/v2/feeds/bookmarks/query:
    post:
      description: 'Query bookmarks with filter query

        '
      operationId: QueryBookmarks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryBookmarksRequest'
        description: Query Bookmarks Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryBookmarksResponse'
          description: Query Bookmarks Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query bookmarks
      tags:
      - product:feeds
  /api/v2/feeds/collections:
    delete:
      description: 'Delete collections in a batch operation. Users can only delete their own collections.

        '
      operationId: DeleteCollections
      parameters:
      - in: query
        name: collection_refs
        required: true
        schema:
          description: List of collections to delete
          items:
            type: string
          maxItems: 100
          minItems: 1
          title: Collection references
          type: array
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCollectionsResponse'
          description: Delete Collections Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete multiple collections
      tags:
      - product:feeds
    get:
      description: 'Read collections by their references. By default, users can only read their own collections.

        '
      operationId: ReadCollections
      parameters:
      - in: query
        name: collection_refs
        schema:
          description: List of collection references in format 'name:id'
          items:
            type: string
          maxItems: 100
          title: Collection References
          type: array
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadCollectionsResponse'
          description: Read Collections Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Read collections
      tags:
      - product:feeds
    patch:
      description: 'Update existing collections in a batch operation. Only the custom data field is updatable. Users can only update their own collections.

        '
      operationId: UpdateCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionsRequest'
        description: Update Collections Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCollectionsResponse'
          description: Update Collections Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update multiple collections
      tags:
      - product:feeds
    post:
      description: 'Create new collections in a batch operation. Collections are data objects that can be attached to activities for managing shared data across multiple activities.

        '
      operationId: CreateCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionsRequest'
        description: Create Collections Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionsResponse'
          description: Create Collections Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create multiple collections
      tags:
      - product:feeds
    put:
      description: 'Insert new collections or update existing ones in a batch operation. Only the custom data field is updatable for existing collections.

        '
      operationId: UpsertCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCollectionsRequest'
        description: Upsert Collections Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertCollectionsResponse'
          description: Upsert Collections Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert multiple collections
      tags:
      - product:feeds
  /api/v2/feeds/collections/query:
    post:
      description: 'Query collections with filter query

        '
      operationId: QueryCollections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCollectionsRequest'
        description: Query Collections Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCollectionsResponse'
          description: Query Collections Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query collections
      tags:
      - product:feeds
  /api/v2/feeds/comments:
    get:
      description: 'Retrieve a threaded list of comments for a specific object (e.g., activity), with configurable depth, sorting, and pagination

        '
      operationId: GetComments
      parameters:
      - in: query
        name: object_id
        required: true
        schema:
          description: ID of the object to get comments for
          title: Object ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: object_type
        required: true
        schema:
          description: Type of the object to get comments for
          enum:
          - activity
          title: Object Type
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: depth
        schema:
          description: Maximum nested depth to return (0 = only first level)
          format: int32
          maximum: 5
          minimum: 0
          title: Max Depth
          type: integer
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: sort
        schema:
          description: Sort order for the comments
          enum:
          - first
          - last
          - top
          - best
          - controversial
          title: Sort Order
          type: string
          writeOnly: true
          x-stream-index: '004'
      - in: query
        name: replies_limit
        schema:
          format: int32
          maximum: 20
          minimum: 0
          type: integer
          writeOnly: true
          x-stream-index: '005'
      - in: query
        name: id_around
        schema:
          description: Returns the comment with the specified ID along with surrounding comments for context
          title: ID Around
          type: string
          writeOnly: true
          x-stream-index: '006'
      - in: query
        name: user_id
        schema:
          description: User ID for server-side requests to populate OwnReactions (server-side only)
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '007.001'
      - in: query
        name: limit
        schema:
          description: Max number of top‑level comments to return
          format: int32
          maximum: 100
          minimum: 0
          title: Root Limit
          type: integer
          writeOnly: true
          x-stream-index: '008.001'
      - in: query
        name: prev
        schema:
          type: string
          writeOnly: true
          x-stream-index: '008.002'
      - in: query
        name: next
        schema:
          type: string
          writeOnly: true
          x-stream-index: '008.003'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommentsResponse'
          description: Get  Comments Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get comments for an object
      tags:
      - product:feeds
    post:
      description: 'Adds a comment to an object (e.g., activity) or a reply to an existing comment, and broadcasts appropriate events

        '
      operationId: AddComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentRequest'
        description: Add Comment Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCommentResponse'
          description: Add Comment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add a comment or reply
      tags:
      - product:feeds
  /api/v2/feeds/comments/{comment_id}/bookmarks:
    delete:
      description: 'Deletes a bookmark from a comment

        '
      operationId: DeleteCommentBookmark
      parameters:
      - in: path
        name: comment_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: folder_id
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCommentBookmarkResponse'
          description: Delete Comment Bookmark Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a comment bookmark
      tags:
      - product:feeds
    patch:
      description: 'Updates a bookmark for a comment

        '
      operationId: UpdateCommentBookmark
      parameters:
      - in: path
        name: comment_id
        required: true
        schema:
          description: ID of the comment
          maxLength: 255
          title: Comment ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommentBookmarkRequest'
        description: Update Comment Bookmark Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCommentBookmarkResponse'
          description: Update Comment Bookmark Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update comment bookmark
      tags:
      - product:feeds
    post:
      description: 'Adds a bookmark to a comment

        '
      operationId: AddCommentBookmark
      parameters:
      - in: path
        name: comment_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentBookmarkRequest'
        description: Add Comment Bookmark Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCommentBookmarkResponse'
          description: Add Comment Bookmark Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add comment bookmark
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}:
    delete:
      description: 'Deletes a comment from an object (e.g., activity) and broadcasts appropriate events

        '
      operationId: DeleteComment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: hard_delete
        schema:
          description: Whether to permanently delete the comment instead of soft delete
          title: Hard Delete
          type: boolean
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: delete_notification_activity
        schema:
          description: 'Whether to delete the corresponding notification activity (default: false)'
          title: Delete Notification Activity
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCommentResponse'
          description: Delete Comment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a comment
      tags:
      - product:feeds
    get:
      description: 'Get a comment by ID

        '
      operationId: GetComment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '002.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommentResponse'
          description: Get Comment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get comment
      tags:
      - product:feeds
    patch:
      description: 'Updates a comment on an object (e.g., activity) and broadcasts appropriate events

        '
      operationId: UpdateComment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommentRequest'
        description: Update Comment Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCommentResponse'
          description: Update Comment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update a comment
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}/partial:
    post:
      description: 'Updates certain fields of the comment. Use ''set'' to update specific fields and ''unset'' to remove fields.


        Sends events:

        - feeds.activity.updated

        - feeds.comment.updated

        '
      operationId: UpdateCommentPartial
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommentPartialRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCommentPartialResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Partial comment update
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}/reactions:
    post:
      description: 'Adds a reaction to a comment

        '
      operationId: AddCommentReaction
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentReactionRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCommentReactionResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add comment reaction
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}/reactions/{type}:
    delete:
      description: 'Deletes a reaction from a comment

        '
      operationId: DeleteCommentReaction
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: type
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: delete_notification_activity
        schema:
          description: 'Whether to delete the corresponding notification activity (default: false)'
          title: Delete Notification Activity
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '004.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCommentReactionResponse'
          description: Delete Comment Reaction Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete comment reaction
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}/reactions/query:
    post:
      description: 'Query comment reactions

        '
      operationId: QueryCommentReactions
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCommentReactionsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCommentReactionsResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query comment reactions
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}/replies:
    get:
      description: 'Retrieve a threaded list of replies for a single comment, with configurable depth, sorting, and pagination

        '
      operationId: GetCommentReplies
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: depth
        schema:
          description: Maximum nested depth to return (0 = unlimited)
          format: int32
          maximum: 5
          minimum: 0
          title: Max Depth
          type: integer
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: sort
        schema:
          description: 'first (oldest), last (newest) or top. One of: first, last, top, best, controversial'
          enum:
          - first
          - last
          - top
          - best
          - controversial
          title: Sort Order
          type: string
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: replies_limit
        schema:
          description: Max number of replies to return
          format: int32
          minimum: 0
          title: Replies Limit
          type: integer
          writeOnly: true
          x-stream-index: '004'
      - in: query
        name: id_around
        schema:
          description: Returns the reply with the specified ID along with surrounding replies for context
          title: ID Around
          type: string
          writeOnly: true
          x-stream-index: '005'
      - in: query
        name: user_id
        schema:
          description: User ID for server-side requests to populate OwnReactions (server-side only)
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '006.001'
      - in: query
        name: limit
        schema:
          description: Max number of direct replies to return
          format: int32
          maximum: 100
          minimum: 0
          title: Reply Limit
          type: integer
          writeOnly: true
          x-stream-index: '007.001'
      - in: query
        name: prev
        schema:
          type: string
          writeOnly: true
          x-stream-index: '007.002'
      - in: query
        name: next
        schema:
          type: string
          writeOnly: true
          x-stream-index: '007.003'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCommentRepliesResponse'
          description: Get Comment Replies Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get replies for a comment
      tags:
      - product:feeds
  /api/v2/feeds/comments/{id}/restore:
    post:
      description: 'Restores a soft-deleted, moderation-removed, or shadow-blocked comment by its ID. The comment and all its descendants are restored. Deleted comments can be restored client-side. Moderation-blocked comments can only be restored server-side.

        '
      operationId: RestoreComment
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreCommentRequest'
        description: Restore Comment Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreCommentResponse'
          description: Restore Comment Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Restore a comment
      tags:
      - product:feeds
  /api/v2/feeds/comments/batch:
    post:
      description: 'Adds multiple comments in a single request. Each comment must specify the object type and ID.

        '
      operationId: AddCommentsBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentsBatchRequest'
        description: Add Comments Batch Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCommentsBatchResponse'
          description: Add Comments Batch Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Add multiple comments in a batch
      tags:
      - product:feeds
  /api/v2/feeds/comments/query:
    post:
      description: 'Query comments using MongoDB-style filters with pagination and sorting options

        '
      operationId: QueryComments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCommentsRequest'
        description: Query Comments Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCommentsResponse'
          description: Query Comments Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query comments
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups:
    get:
      description: 'List all feed groups for the application

        '
      operationId: ListFeedGroups
      parameters:
      - in: query
        name: include_soft_deleted
        schema:
          type: boolean
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedGroupsResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List all feed groups
      tags:
      - product:feeds
    post:
      description: 'Creates a new feed group with the specified configuration

        '
      operationId: CreateFeedGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedGroupRequest'
        description: Create Feed Group Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFeedGroupResponse'
          description: Upsert Feed Group Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create a new feed group
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}:
    delete:
      description: 'Delete a single feed by its ID

        '
      operationId: DeleteFeed
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: hard_delete
        schema:
          description: Whether to permanently delete the feed instead of soft delete
          title: Hard Delete
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFeedResponse'
          description: Delete Feed Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a single feed
      tags:
      - product:feeds
    post:
      description: 'Create a single feed for a given feed group

        '
      operationId: GetOrCreateFeed
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateFeedRequest'
        description: ClientRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrCreateFeedResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create a new feed
      tags:
      - product:feeds
    put:
      description: 'Update an existing feed

        '
      operationId: UpdateFeed
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedRequest'
        description: Update Feed Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeedResponse'
          description: Update Feed Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update a feed
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/activities/{activity_id}/pin:
    delete:
      description: 'Unpin an activity from a feed. This removes the pin, so the activity will no longer be displayed at the top of the feed.

        '
      operationId: UnpinActivity
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: path
        name: activity_id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: enrich_own_fields
        schema:
          description: If true, enriches the activity's current_feed with own_* fields (own_follows, own_followings, own_capabilities, own_membership). Defaults to false for performance.
          title: Enrich Own Fields
          type: boolean
          writeOnly: true
          x-stream-index: '004'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '005.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnpinActivityResponse'
          description: Unpin Activity Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Unpin an activity from a feed
      tags:
      - product:feeds
    post:
      description: 'Pin an activity to a feed. Pinned activities are typically displayed at the top of a feed.

        '
      operationId: PinActivity
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: path
        name: activity_id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '003'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinActivityRequest'
        description: Pin Activity Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinActivityResponse'
          description: Pin Activity Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Pin an activity to a feed
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/activities/mark/batch:
    post:
      description: 'Mark activities as read/seen/watched. Can mark by timestamp (seen), activity IDs (read), or all as read.

        '
      operationId: MarkActivity
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkActivityRequest'
        description: Mark Activity Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Mark activities as read/seen/watched
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/change_visibility:
    post:
      description: 'Changes the visibility of an existing feed. Follow reconciliation (rewriting pending follows on loosening, or removing disallowed follows/members on tightening) runs asynchronously in the background; the response returns optimistically with the intended visibility.

        '
      operationId: ChangeFeedVisibility
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeFeedVisibilityRequest'
        description: Change Feed Visibility Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeFeedVisibilityResponse'
          description: Change Feed Visibility Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Change a feed's visibility
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/members:
    patch:
      description: 'Add, remove, or set members for a feed

        '
      operationId: UpdateFeedMembers
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedMembersRequest'
        description: Update Feed Members Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeedMembersResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update feed members
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/members/accept:
    post:
      description: 'Accepts a pending feed member request

        '
      operationId: AcceptFeedMemberInvite
      parameters:
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptFeedMemberInviteRequest'
        description: Accept Feed Member Invite Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptFeedMemberInviteResponse'
          description: Accept Feed Member Invite Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Accept a feed member request
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/members/query:
    post:
      description: 'Query feed members based on filters with pagination and sorting options

        '
      operationId: QueryFeedMembers
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryFeedMembersRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFeedMembersResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query feed members
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/members/reject:
    post:
      description: 'Rejects a pending feed member request

        '
      operationId: RejectFeedMemberInvite
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectFeedMemberInviteRequest'
        description: Reject Feed Member Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectFeedMemberInviteResponse'
          description: Reject Feed Member Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Reject an invite to become a feed member
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/feeds/{feed_id}/pinned_activities/query:
    post:
      description: 'Query pinned activities for a feed with filter query

        '
      operationId: QueryPinnedActivities
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: path
        name: feed_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '002'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryPinnedActivitiesRequest'
        description: Query Pinned Activities Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryPinnedActivitiesResponse'
          description: Query Pinned Activities Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query pinned activities
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/follow_suggestions:
    get:
      description: 'Get follow suggestions for a feed group

        '
      operationId: GetFollowSuggestions
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          description: The ID of the feed group to get suggestions for
          maxLength: 255
          title: Feed Group ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: limit
        schema:
          description: Maximum number of suggestions to return
          format: int32
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          description: The ID of the user requesting suggestions (optional, defaults to current user)
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '003.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFollowSuggestionsResponse'
          description: Follow Suggestions Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get follow suggestions
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{feed_group_id}/restore:
    post:
      description: 'Restores a soft-deleted feed group by its ID. Only clears DeletedAt in the database; no other fields are updated.

        '
      operationId: RestoreFeedGroup
      parameters:
      - in: path
        name: feed_group_id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreFeedGroupResponse'
          description: Restore Feed Group Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Restore a feed group
      tags:
      - product:feeds
  /api/v2/feeds/feed_groups/{id}:
    delete:
      description: 'Delete a feed group by its ID. Can perform a soft delete (default) or hard delete.

        '
      operationId: DeleteFeedGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: hard_delete
        schema:
          description: Whether to perform a hard delete (true) or soft delete (false, default)
          title: Hard Delete
          type: boolean
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFeedGroupResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a feed group
      tags:
      - product:feeds
    get:
      description: 'Get a feed group by ID

        '
      operationId: GetFeedGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: include_soft_deleted
        schema:
          type: boolean
          writeOnly: true
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeedGroupResponse'
          description: Get Feed Group Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get a feed group
      tags:
      - product:feeds
    post:
      description: 'Get an existing feed group or create a new one if it doesn''t exist

        '
      operationId: GetOrCreateFeedGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: Unique identifier for the feed group
          maxLength: 255
          title: Feed Group ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateFeedGroupRequest'
        description: Get Or Create Feed Group Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrCreateFeedGroupResponse'
          description: Get Or Create Feed Group Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get or create a feed group
      tags:
      - product:feeds
    put:
      description: 'Update a feed group by ID

        '
      operationId: UpdateFeedGroup
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedGroupRequest'
        description: Update Feed Group Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeedGroupResponse'
          description: Update Feed Group Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update a feed group
      tags:
      - product:feeds
  /api/v2/feeds/feed_views:
    get:
      description: 'List all feed views for a feed group

        '
      operationId: ListFeedViews
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedViewsResponse'
          description: List Feed Views Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List all feed views
      tags:
      - product:feeds
    post:
      description: 'Create a custom view for a feed group with specific selectors, ranking, or aggregation options

        '
      operationId: CreateFeedView
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedViewRequest'
        description: Create Feed View Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFeedViewResponse'
          description: Create Feed View Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create a new feed view
      tags:
      - product:feeds
  /api/v2/feeds/feed_views/{id}:
    delete:
      description: 'Delete an existing custom feed view

        '
      operationId: DeleteFeedView
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFeedViewResponse'
          description: Delete Feed View Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a feed view
      tags:
      - product:feeds
    get:
      description: 'Get a feed view by its ID

        '
      operationId: GetFeedView
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeedViewResponse'
          description: Get Feed View Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get a feed view
      tags:
      - product:feeds
    post:
      description: 'Get an existing feed view or create a new one if it doesn''t exist

        '
      operationId: GetOrCreateFeedView
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateFeedViewRequest'
        description: Get Or Create Feed View Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrCreateFeedViewResponse'
          description: Get Or Create Feed View Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get or create a feed view
      tags:
      - product:feeds
    put:
      description: 'Update an existing custom feed view with new selectors, ranking, or aggregation options

        '
      operationId: UpdateFeedView
      parameters:
      - in: path
        name: id
        required: true
        schema:
          maxLength: 255
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedViewRequest'
        description: Update Feed View Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeedViewResponse'
          description: Update Feed View Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update a feed view
      tags:
      - product:feeds
  /api/v2/feeds/feed_visibilities:
    get:
      description: 'Gets all available feed visibility configurations and their permissions

        '
      operationId: ListFeedVisibilities
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedVisibilitiesResponse'
          description: List Feed Visibilities Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List feed visibilities
      tags:
      - product:feeds
  /api/v2/feeds/feed_visibilities/{name}:
    get:
      description: 'Gets feed visibility configuration and permissions

        '
      operationId: GetFeedVisibility
      parameters:
      - in: path
        name: name
        required: true
        schema:
          description: 'Name of the feed visibility level. One of: public, visible, followers, members, private'
          enum:
          - public
          - visible
          - followers
          - members
          - private
          title: Visibility Name
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeedVisibilityResponse'
          description: Get Feed Visibility Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get feed visibility
      tags:
      - product:feeds
    put:
      description: 'Updates an existing predefined feed visibility configuration

        '
      operationId: UpdateFeedVisibility
      parameters:
      - in: path
        name: name
        required: true
        schema:
          enum:
          - public
          - visible
          - followers
          - members
          - private
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedVisibilityRequest'
        description: Update Feed Visibility Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFeedVisibilityResponse'
          description: Update Feed Visibility Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update Feed Visibility
      tags:
      - product:feeds
  /api/v2/feeds/feeds/batch:
    post:
      description: 'Create multiple feeds at once for a given feed group

        '
      operationId: CreateFeedsBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedsBatchRequest'
        description: Create Feeds Batch Request
        required: true
      responses:
        '201':
          content:
[...]
