openapi: 3.0.3
info:
  title: Stream product:chat product:moderation API
  version: v228.3.0
servers:
- description: Stream API
  url: https://chat.stream-io-api.com
security:
- JWT: []
  api_key: []
  stream-auth-type: []
- api_key: []
  stream-auth-type: []
tags:
- name: product:moderation
paths:
  /api/v1/moderation/chat_message_tasks:
    post:
      description: 'Submits a chat message task

        '
      operationId: SubmitChatMessageTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitChatMessageTaskRequest'
        description: SubmitChatMessageTaskRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitChatMessageTaskResponse'
          description: SubmitChatMessageTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Submit Chat Message Task
      tags:
      - product:moderation
  /api/v1/moderation/dashboard/blocked_messages:
    get:
      description: 'TODO

        '
      operationId: ListBlockedMessages
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/dashboard/flag_feedback:
    post:
      description: 'TODO

        '
      operationId: FlagFeedback
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/dashboard/moderation_log:
    get:
      description: 'TODO

        '
      operationId: ListModerationLogs
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/dashboard/update_flags:
    post:
      description: 'TODO

        '
      operationId: UpdateFlags
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/moderation/blocked_messages:
    get:
      description: 'TODO

        '
      operationId: ListBlockedMessages
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/moderation/flag_feedback:
    post:
      description: 'TODO

        '
      operationId: FlagFeedback
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/moderation/moderation_log:
    get:
      description: 'TODO

        '
      operationId: ListModerationLogs
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/moderation/update_flags:
    post:
      description: 'TODO

        '
      operationId: UpdateFlags
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /api/v1/moderation/tasks:
    get:
      description: 'Lists all tasks

        '
      operationId: ListTasks
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
          description: ListTasksResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List Tasks
      tags:
      - product:moderation
    post:
      description: 'Submits a task

        '
      operationId: SubmitTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTaskRequest'
        description: SubmitTaskRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTaskResponse'
          description: SubmitTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Submit Task
      tags:
      - product:moderation
  /api/v1/moderation/tasks/{id}:
    get:
      description: 'Fetches moderation task

        '
      operationId: GetTask
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: 'Task ID '
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaskResponse'
          description: GetTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get Task
      tags:
      - product:moderation
    post:
      description: 'Updates a task

        '
      operationId: UpdateTask
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: 'Task ID '
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
        description: UpdateTaskRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTaskResponse'
          description: UpdateTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update Task
      tags:
      - product:moderation
  /automod/v1/chat_message_tasks:
    post:
      description: 'Submits a chat message task

        '
      operationId: SubmitChatMessageTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitChatMessageTaskRequest'
        description: SubmitChatMessageTaskRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitChatMessageTaskResponse'
          description: SubmitChatMessageTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Submit Chat Message Task
      tags:
      - product:moderation
  /automod/v1/dashboard/blocked_messages:
    get:
      description: 'TODO

        '
      operationId: ListBlockedMessages
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/dashboard/flag_feedback:
    post:
      description: 'TODO

        '
      operationId: FlagFeedback
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/dashboard/moderation_log:
    get:
      description: 'TODO

        '
      operationId: ListModerationLogs
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/dashboard/update_flags:
    post:
      description: 'TODO

        '
      operationId: UpdateFlags
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/moderation/blocked_messages:
    get:
      description: 'TODO

        '
      operationId: ListBlockedMessages
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/moderation/flag_feedback:
    post:
      description: 'TODO

        '
      operationId: FlagFeedback
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/moderation/moderation_log:
    get:
      description: 'TODO

        '
      operationId: ListModerationLogs
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/moderation/update_flags:
    post:
      description: 'TODO

        '
      operationId: UpdateFlags
      responses:
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      tags:
      - product:moderation
  /automod/v1/tasks:
    get:
      description: 'Lists all tasks

        '
      operationId: ListTasks
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
          description: ListTasksResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: List Tasks
      tags:
      - product:moderation
    post:
      description: 'Submits a task

        '
      operationId: SubmitTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitTaskRequest'
        description: SubmitTaskRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitTaskResponse'
          description: SubmitTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Submit Task
      tags:
      - product:moderation
  /automod/v1/tasks/{id}:
    get:
      description: 'Fetches moderation task

        '
      operationId: GetTask
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: 'Task ID '
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaskResponse'
          description: GetTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get Task
      tags:
      - product:moderation
    post:
      description: 'Updates a task

        '
      operationId: UpdateTask
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: 'Task ID '
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
        description: UpdateTaskRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTaskResponse'
          description: UpdateTaskResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Update Task
      tags:
      - product:moderation
  /api/v2/moderation/action_config:
    get:
      description: 'Returns moderation action configs grouped by entity type, sorted by order ascending. Supports fetching DB-configured actions, hardcoded defaults, or both.

        '
      operationId: get_action_config
      parameters:
      - in: query
        name: queue_type
        schema:
          description: Filter configs by queue type; empty returns the default queue
          title: Queue Type
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: entity_type
        schema:
          description: Filter to a single entity type; empty returns all
          title: Entity Type
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: exclude_defaults
        schema:
          description: Return only DB-configured actions; empty object if none exist
          title: Exclude Defaults
          type: boolean
          writeOnly: true
          x-stream-index: '003'
      - in: query
        name: only_defaults
        schema:
          description: Return hardcoded default configs without a DB query
          title: Only Defaults
          type: boolean
          writeOnly: true
          x-stream-index: '004'
      - in: query
        name: user_id
        schema:
          type: string
          writeOnly: true
          x-stream-index: '005.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActionConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get moderation action configs
      tags:
      - product:moderation
    post:
      description: 'Create a new moderation action config entry or update an existing one. Action configs control the action buttons displayed in the moderation dashboard for each entity type.

        '
      operationId: upsert_action_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertActionConfigRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertActionConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create or update a moderation action config
      tags:
      - product:moderation
  /api/v2/moderation/action_config/{id}:
    delete:
      description: 'Delete a specific moderation action config entry by its UUID.

        '
      operationId: delete_action_config
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: UUID of the action config to delete
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: user_id
        schema:
          description: Optional user ID to associate with the audit log entry
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '002.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteActionConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a moderation action config
      tags:
      - product:moderation
  /api/v2/moderation/action_config/bulk:
    post:
      description: 'Create or update multiple moderation action config entries in a single request. Omit the ID field to create; provide an ID to update.

        '
      operationId: bulk_upsert_action_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpsertActionConfigRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpsertActionConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Bulk create or update moderation action configs
      tags:
      - product:moderation
  /api/v2/moderation/action_config/bulk_delete:
    post:
      description: 'Delete multiple moderation action config entries by UUID in a single request.

        '
      operationId: bulk_delete_action_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteActionConfigRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteActionConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Bulk delete moderation action configs
      tags:
      - product:moderation
  /api/v2/moderation/action_logs:
    post:
      description: 'Insert a moderation action log entry. Server-side only. Used by product services to log moderation-related actions.

        '
      operationId: insert_action_log
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertActionLogRequest'
        description: Insert Action Log Request
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsertActionLogResponse'
          description: Insert Action Log Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Insert moderation action log
      tags:
      - product:moderation
  /api/v2/moderation/appeal:
    post:
      description: 'Appeal against the moderation decision

        '
      operationId: appeal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppealRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Appeal against the moderation decision
      tags:
      - product:moderation
  /api/v2/moderation/appeal/{id}:
    get:
      description: 'Retrieve a specific appeal item by its ID

        '
      operationId: get_appeal
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the appeal item to retrieve
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppealResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get appeal item
      tags:
      - product:moderation
  /api/v2/moderation/appeals:
    post:
      description: 'Query Appeals

        '
      operationId: query_appeals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAppealsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAppealsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query Appeals
      tags:
      - product:moderation
  /api/v2/moderation/ban:
    post:
      description: 'Ban a user from a channel or the entire app

        '
      operationId: ban
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BanRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Ban
      tags:
      - product:moderation
  /api/v2/moderation/bulk_image_moderation:
    post:
      description: 'Moderate multiple images in bulk using a CSV file

        '
      operationId: bulk_image_moderation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkImageModerationRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkImageModerationResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Bulk image moderation
      tags:
      - product:moderation
  /api/v2/moderation/bypass:
    post:
      description: 'Enable or disable moderation bypass for a user. This endpoint is server-side only.

        '
      operationId: bypass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BypassRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BypassResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Bypass Moderation
      tags:
      - product:moderation
  /api/v2/moderation/check:
    post:
      description: 'Run moderation checks on the provided content

        '
      operationId: check
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check
      tags:
      - product:moderation
  /api/v2/moderation/check_s3_access:
    post:
      description: 'Verifies that the configured IAM role ARN can access private S3 images for moderation. Optionally accepts a stream+s3:// URL to check access to a specific object.

        '
      operationId: check_s3_access
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckS3AccessRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckS3AccessResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Check S3 image access
      tags:
      - product:moderation
  /api/v2/moderation/config:
    post:
      description: 'Create a new moderation configuration or update an existing one. Configure settings for content filtering, AI analysis, toxicity detection, and other moderation features.

        '
      operationId: upsert_config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertConfigRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Create or update moderation configuration
      tags:
      - product:moderation
  /api/v2/moderation/config/{key}:
    delete:
      description: 'Delete a specific moderation policy by its name

        '
      operationId: delete_config
      parameters:
      - in: path
        name: key
        required: true
        schema:
          description: Key of the moderation configuration to delete
          title: Key
          type: string
          x-stream-index: '001'
      - in: query
        name: team
        schema:
          description: Team associated with the configuration
          title: Team
          type: string
          x-stream-index: '002'
      - in: query
        name: user_id
        schema:
          description: Optional user ID to associate with the audit log entry
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '003.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModerationConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a moderation policy
      tags:
      - product:moderation
    get:
      description: 'Retrieve a specific moderation configuration by its key and team. This configuration contains settings for various moderation features like toxicity detection, AI analysis, and filtering rules.

        '
      operationId: get_config
      parameters:
      - in: path
        name: key
        required: true
        schema:
          description: Key of the moderation configuration to retrieve
          title: Key
          type: string
          x-stream-index: '001'
      - in: query
        name: team
        schema:
          description: Team associated with the configuration
          title: Team
          type: string
          x-stream-index: '002'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConfigResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get moderation configuration
      tags:
      - product:moderation
  /api/v2/moderation/configs:
    post:
      description: 'Search and filter moderation configurations across your application. This endpoint is designed for building moderation dashboards and managing multiple configuration sets.

        '
      operationId: query_moderation_configs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModerationConfigsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryModerationConfigsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query moderation configurations
      tags:
      - product:moderation
  /api/v2/moderation/custom_check:
    post:
      description: 'Custom check, add your own AI model reports to the review queue

        '
      operationId: custom_check
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomCheckRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomCheckResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Custom check endpoint
      tags:
      - product:moderation
  /api/v2/moderation/feeds_moderation_template:
    delete:
      description: 'Delete a specific moderation template by its name

        '
      operationId: V2DeleteTemplate
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModerationTemplateResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete a moderation template
      tags:
      - product:moderation
    get:
      description: 'Retrieve a list of feed moderation templates that define preset moderation rules and configurations. Limited to 100 templates per request.

        '
      operationId: V2QueryTemplates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFeedModerationTemplatesResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query feed moderation templates
      tags:
      - product:moderation
    post:
      description: 'Upsert feeds template for moderation

        '
      operationId: V2UpsertTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertModerationTemplateRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertModerationTemplateResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert feeds template
      tags:
      - product:moderation
  /api/v2/moderation/flag:
    post:
      description: 'Flag any type of content (messages, users, channels, activities) for moderation review. Supports custom content types and additional metadata for flagged content.

        '
      operationId: flag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlagRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlagResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Flag content for moderation
      tags:
      - product:moderation
  /api/v2/moderation/flag_count:
    post:
      description: 'Returns the number of moderation flags created against a specific user''s content. Optionally filter by entity type.

        '
      operationId: get_flag_count
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFlagCountRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFlagCountResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get flag count for a user
      tags:
      - product:moderation
  /api/v2/moderation/flags:
    post:
      description: 'Query flags associated with moderation items. This is used for building a moderation dashboard.

        '
      operationId: query_moderation_flags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModerationFlagsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryModerationFlagsResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query moderation flags
      tags:
      - product:moderation
  /api/v2/moderation/labels:
    post:
      description: 'Run moderation on text and return labels

        '
      operationId: labels
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Labels
      tags:
      - product:moderation
  /api/v2/moderation/labels/results:
    post:
      description: 'Search and filter moderation label results with support for pagination and sorting. View the history of moderation labels applied to content.

        '
      operationId: query_label_results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryLabelResultsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryLabelResultsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query label results
      tags:
      - product:moderation
  /api/v2/moderation/logs:
    post:
      description: 'Search and filter moderation action logs with support for pagination. View the history of moderation actions taken, including who performed them and when.

        '
      operationId: query_moderation_logs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModerationLogsRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryModerationLogsResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query moderation action logs
      tags:
      - product:moderation
  /api/v2/moderation/moderation_rule:
    post:
      description: 'Create or update a moderation rule that can apply app-wide or to specific moderation configs

        '
      operationId: upsert_moderation_rule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertModerationRuleRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertModerationRuleResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Upsert moderation rule
      tags:
      - product:moderation
  /api/v2/moderation/moderation_rule/{id}:
    delete:
      description: 'Delete an existing moderation rule

        '
      operationId: delete_moderation_rule
      parameters:
      - in: query
        name: user_id
        schema:
          description: Optional user ID to associate with the audit log entry
          title: User ID
          type: string
          writeOnly: true
          x-stream-index: '001.001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModerationRuleResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Delete moderation rule
      tags:
      - product:moderation
    get:
      description: 'Get a specific moderation rule by ID

        '
      operationId: get_moderation_rule
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModerationRuleResponse'
          description: Response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get moderation rule
      tags:
      - product:moderation
  /api/v2/moderation/moderation_rules:
    post:
      description: 'Search and filter moderation rules across your application. This endpoint is designed for building moderation dashboards and managing multiple rule sets.

        '
      operationId: query_moderation_rules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModerationRulesRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryModerationRulesResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query moderation rules
      tags:
      - product:moderation
  /api/v2/moderation/mute:
    post:
      description: 'Mute a user. Mutes are generally not visible to the user you mute, while block is something you notice.

        '
      operationId: mute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteRequest'
        description: MuteRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteResponse'
          description: MuteResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Mute
      tags:
      - product:moderation
  /api/v2/moderation/review_queue:
    post:
      description: 'Query review queue items allows you to filter the review queue items. This is used for building a moderation dashboard.

        '
      operationId: query_review_queue
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryReviewQueueRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryReviewQueueResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Query review queue items
      tags:
      - product:moderation
  /api/v2/moderation/review_queue/{id}:
    get:
      description: 'Retrieve a specific review queue item by its ID

        '
      operationId: get_review_queue_item
      parameters:
      - in: path
        name: id
        required: true
        schema:
          description: Unique identifier of the review queue item to retrieve
          title: ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReviewQueueItemResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Get review queue item
      tags:
      - product:moderation
  /api/v2/moderation/submit_action:
    post:
      description: 'Take action on flagged content, such as marking content as safe, deleting content, banning users, or executing custom moderation actions. Supports various action types with configurable parameters.

        '
      operationId: submit_action
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitActionRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitActionResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Submit moderation action
      tags:
      - product:moderation
  /api/v2/moderation/submit_moderation_feedback:
    post:
      description: 'Forward a moderator-supplied correction to the moderation feedback pipeline. Server-side only.

        '
      operationId: submit_moderation_feedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitModerationFeedbackRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitModerationFeedbackResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Submit moderation feedback
      tags:
      - product:moderation
  /api/v2/moderation/unban:
    post:
      description: 'Unban a user from a channel or globally.

        '
      operationId: unban
      parameters:
      - in: query
        name: target_user_id
        required: true
        schema:
          description: ID of the user to unban
          title: Target User ID
          type: string
          writeOnly: true
          x-stream-index: '001'
      - in: query
        name: channel_cid
        schema:
          description: Channel where the unban applies
          title: Channel CID
          type: string
          writeOnly: true
          x-stream-index: '002'
      - in: query
        name: created_by
        schema:
          description: ID of the user who created the ban
          title: Created By
          type: string
          writeOnly: true
          x-stream-index: '003'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnbanRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnbanResponse'
          description: Successful response
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Unban
      tags:
      - product:moderation
  /api/v2/moderation/unmute:
    post:
      description: 'Unmute a user

        '
      operationId: unmute
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnmuteRequest'
        description: UnmuteRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnmuteResponse'
          description: UnmuteResponse
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Bad request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
          description: Too many requests
      summary: Unmute a user
      tags:
      - product:moderation
components:
  schemas:
    QueryModerationFlagsResponse:
      description: Basic response information
      nullable: true
      properties:
        duration:
          description: Duration of the request in milliseconds
          title: Duration
          type: string
          x-stream-index: '003.001'
        flags:
          items:
            $ref: '#/components/schemas/ModerationFlagResponse'
          type: array
          x-stream-index: '001'
        next:
          type: string
          x-stream-index: '002.001'
        prev:
          type: string
          x-stream-index: '002.002'
      required:
      - flags
      - duration
      title: Response
      type: object
    FlagResponse:
      nullable: true
      properties:
        duration:
          type: string
          x-stream-index: '002.001'
        item_id:
          description: Unique identifier of the created moderation item
          title: Item ID
          type: string
          x-stream-index: '001'
      required:
      - item_id
      - duration
      type: object
    UnbanActionRequestPayload:
      description: Configuration for unban moderation action
      properties:
        channel_cid:
          description: Channel CID for channel-specific unban
          title: Channel CID
          type: string
          x-stream-index: '001'
        decision_reason:
          description: Reason for the appeal decision
          title: Decision Reason
          type: string
          x-stream-index: '002'
        remove_future_channels_ban:
          description: Also remove the future channels ban for this user
          title: Remove Future Channels Ban
          type: boolean
          x-stream-index: '003'
      title: UnbanActionRequest
      type: object
    ChatReactionGroupUserResponse:
      properties:
        created_at:
          format: date-time
          type: number
          x-stream-index: '003'
        user:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '002'
        user_id:
          type: string
          x-stream-index: '001'
      required:
      - user_id
      - created_at
      type: object
    IngressSourceResponse:
      properties:
        fps:
          type: integer
          x-stream-index: '003'
        height:
          type: integer
          x-stream-index: '002'
        width:
          type: integer
          x-stream-index: '001'
      required:
      - width
      - height
      - fps
      type: object
    TriggerResponse:
      properties:
        options:
          additionalProperties: {}
          description: Trigger options
          title: Options
          type: object
          x-stream-index: '002'
        type:
          description: Trigger type
          title: Type
          type: string
          x-stream-index: '001'
      required:
      - type
      title: TriggerResponse
      type: object
    BulkUpsertActionConfigResponse:
      nullable: true
      properties:
        action_configs:
          description: The created or updated action configs in the same order as the request
          items:
            $ref: '#/components/schemas/ModerationActionConfigResponse'
          title: Action Configs
          type: array
          x-stream-index: '001'
        duration:
          type: string
          x-stream-index: '002.001'
      required:
      - action_configs
      - duration
      type: object
    ThumbnailResponse:
      properties:
        image_url:
          type: string
          x-stream-index: '001'
      required:
      - image_url
      type: object
    Data:
      properties:
        id:
          type: string
          x-stream-index: '001'
      required:
      - id
      type: object
    CallActionOptions:
      properties:
        duration:
          format: int32
          type: integer
          x-stream-index: '003'
        flag_reason:
          type: string
          x-stream-index: '006'
        kick_reason:
          type: string
          x-stream-index: '005'
        mute_audio:
          type: boolean
          x-stream-index: '001'
        mute_video:
          type: boolean
          x-stream-index: '002'
        reason:
          type: string
          x-stream-index: '004'
        warning_text:
          type: string
          x-stream-index: '007'
      type: object
    BypassActionRequest:
      properties:
        enabled:
          type: boolean
          x-stream-index: '001'
      type: object
    BodyguardImageAnalysisConfig:
      properties:
        rules:
          items:
            $ref: '#/components/schemas/BodyguardRule'
          type: array
          x-stream-index: '001'
      type: object
    RuleResponse:
      properties:
        condition:
          additionalProperties: {}
          description: MongoDB expression that determines if the defined actions should be executed
          title: Condition
          type: object
          x-stream-index: '004'
        created_at:
          description: Date/time of creation
          format: date-time
          title: Created at
          type: string
          x-stream-index: '006'
        evaluations:
          items:
            $ref: '#/components/schemas/EvaluationResponse'
          type: array
          x-stream-index: '003'
        filter:
          additionalProperties: {}
          description: Filter object that selects a task based on its attributes, eg. content-type or channel type.
          title: Filter
          type: object
          x-stream-index: '002'
        id:
          description: Rule ID
          title: ID
          type: string
          x-stream-index: '001'
        triggers:
          description: List of triggers
          items:
            $ref: '#/components/schemas/TriggerResponse'
          title: Triggers
          type: array
          x-stream-index: '005'
        updated_at:
          format: date-time
          type: string
          x-stream-index: '007'
      required:
      - id
      - filter
      - evaluations
      - condition
      - triggers
      - created_at
      - updated_at
      title: RuleResponse
      type: object
    CallResponse:
      description: Represents a call
      properties:
        backstage:
          type: boolean
          x-stream-index: '017'
        blocked_user_ids:
          items:
            type: string
          type: array
          x-stream-index: 019
        captioning:
          type: boolean
          x-stream-index: '013'
        channel_cid:
          type: string
          x-stream-index: '025'
        cid:
          description: The unique identifier for a call (<type>:<id>)
          title: CID
          type: string
          x-stream-index: '004'
        created_at:
          description: Date/time of creation
          format: date-time
          title: Created at
          type: number
          x-stream-index: 009
        created_by:
          $ref: '#/components/schemas/UserResponse'
          description: The user that created the call
          title: Created By
          x-stream-index: '007'
        current_session_id:
          type: string
          x-stream-index: '005'
        custom:
          additionalProperties: {}
          description: Custom data for this object
          title: Custom data
          type: object
          x-stream-index: 008
        egress:
          $ref: '#/components/schemas/EgressResponse'
          x-stream-index: '022'
        ended_at:
          description: Date/time when the call ended
          format: date-time
          title: Ended At
          type: number
          x-stream-index: '015'
        id:
          description: Call ID
          title: ID
          type: string
          x-stream-index: '003'
        ingress:
          $ref: '#/components/schemas/CallIngressResponse'
          x-stream-index: '020'
        join_ahead_time_seconds:
          format: int32
          type: integer
          x-stream-index: '024'
        recording:
          type: boolean
          x-stream-index: '011'
        routing_number:
          description: 10-digit routing number for SIP routing
          title: Routing Number
          type: string
          x-stream-index: '026'
        session:
          $ref: '#/components/schemas/CallSessionResponse'
          x-stream-index: '021'
        settings:
          $ref: '#/components/schemas/CallSettingsResponse'
          x-stream-index: 018
        starts_at:
          description: Date/time when the call will start
          format: date-time
          title: Starts At
          type: number
          x-stream-index: '016'
        team:
          type: string
          x-stream-index: '006'
        thumbnails:
          $ref: '#/components/schemas/ThumbnailResponse'
          x-stream-index: '023'
        transcribing:
          type: boolean
          x-stream-index: '012'
        translating:
          type: boolean
          x-stream-index: '014'
        type:
          description: The type of call
          title: Type
          type: string
          x-stream-index: '002'
        updated_at:
          description: Date/time of the last update
          format: date-time
          title: Updated at
          type: number
          x-stream-index: '010'
      required:
      - type
      - id
      - cid
      - current_session_id
      - created_by
      - custom
      - created_at
      - updated_at
      - recording
      - transcribing
      - captioning
      - translating
      - backstage
      - settings
      - blocked_user_ids
      - ingress
      - egress
      title: CallResponse
      type: object
    UnbanResponse:
      nullable: true
      properties:
        duration:
          type: string
          x-stream-index: '001.001'
      required:
      - duration
      type: object
    QueryModerationLogsRequest:
      nullable: true
      properties:
        filter:
          additionalProperties: {}
          description: Filter conditions for moderation logs
          title: Filter
          type: object
          x-stream-index: '001'
        limit:
          format: int32
          maximum: 100
          minimum: 0
          type: integer
          x-stream-index: '003.001'
        next:
          type: string
          x-stream-index: '003.002'
        prev:
          type: string
          x-stream-index: '003.003'
        sort:
          description: Sorting parameters for the results
          items:
            $ref: '#/components/schemas/SortParamRequest'
          title: Sort
          type: array
          x-stream-index: '002'
        user:
          $ref: '#/components/schemas/UserRequest'
          x-stream-index: '004.002'
        user_id:
          type: string
          x-stream-index: '004.001'
      type: object
    BanResponse:
      nullable: true
      properties:
        banned_by:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '006'
        channel:
          $ref: '#/components/schemas/ChannelResponse'
          x-stream-index: '001'
        created_at:
          format: date-time
          type: number
          x-stream-index: '007'
        expires:
          format: date-time
          type: number
          x-stream-index: '003'
        reason:
          type: string
          x-stream-index: '004'
        shadow:
          type: boolean
          x-stream-index: '005'
        user:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '002'
      required:
      - created_at
      type: object
    UpsertModerationTemplateResponse:
      nullable: true
      properties:
        config:
          $ref: '#/components/schemas/FeedsModerationTemplateConfigPayload'
          description: Configuration for the moderation template
          title: Config
          x-stream-index: '002'
        created_at:
          description: When the template was created
          format: date-time
          title: Created At
          type: number
          x-stream-index: '003'
        duration:
          type: string
          x-stream-index: '005.001'
        name:
          description: Name of the moderation template
          title: Name
          type: string
          x-stream-index: '001'
        updated_at:
          description: When the template was last updated
          format: date-time
          title: Updated At
          type: number
          x-stream-index: '004'
      required:
      - name
      - created_at
      - updated_at
      - duration
      type: object
    AIImageConfig:
      properties:
        async:
          type: boolean
          x-stream-index: '001'
        enabled:
          type: boolean
          x-stream-index: '002'
        ocr_rules:
          items:
            $ref: '#/components/schemas/OCRRule'
          type: array
          x-stream-index: '004'
        rules:
          items:
            $ref: '#/components/schemas/AWSRekognitionRule'
          type: array
          x-stream-index: '003'
      type: object
    GoogleVisionConfig:
      properties:
        enabled:
          type: boolean
          x-stream-index: '001'
      type: object
    SubmitModerationFeedbackResponse:
      nullable: true
      properties:
        duration:
          type: string
          x-stream-index: '001.001'
      required:
      - duration
      type: object
    APIError:
      nullable: true
      properties:
        StatusCode:
          description: Response HTTP status code
          format: int32
          title: Status code
          type: integer
          x-stream-index: '004'
        code:
          description: API error code
          format: int32
          title: Code
          type: integer
          x-stream-index: '001'
        details:
          description: Additional error-specific information
          items:
            type: integer
          title: Details
          type: array
          x-stream-index: '007'
        duration:
          description: Request duration
          title: Duration
          type: string
          x-stream-index: '005'
        exception_fields:
          additionalProperties:
            type: string
          description: Additional error info
          title: Exception fields
          type: object
          x-stream-index: '003'
        message:
          description: Message describing an error
          title: Message
          type: string
          x-stream-index: '002'
        more_info:
          description: URL with additional information
          title: More info
          type: string
          x-stream-index: '006'
        unrecoverable:
          description: Flag that indicates if the error is unrecoverable, requests that return unrecoverable errors should not be retried, this error only applies to the request that caused it
          title: Unrecoverable
          type: boolean
          x-stream-index: 008
      required:
      - code
      - message
      - StatusCode
      - duration
      - more_info
      - details
      title: Error response
      type: object
    UnblockActionRequestPayload:
      description: Configuration for unblock action
      properties:
        decision_reason:
          description: Reason for the appeal decision
          title: Decision Reason
          type: string
          x-stream-index: '001'
      title: UnblockActionRequest
      type: object
    QueryModerationConfigsResponse:
      nullable: true
      properties:
        configs:
          description: List of moderation configurations
          items:
            $ref: '#/components/schemas/ConfigResponse'
          title: Configs
          type: array
          x-stream-index: '001'
        duration:
          type: string
          x-stream-index: '003.001'
        next:
          type: string
          x-stream-index: '002.001'
        prev:
          type: string
          x-stream-index: '002.002'
      required:
      - configs
      - duration
      type: object
    PollResponseData:
      properties:
        allow_answers:
          type: boolean
          x-stream-index: 008
        allow_user_suggested_options:
          type: boolean
          x-stream-index: '007'
        answers_count:
          format: int32
          type: integer
          x-stream-index: '012'
        created_at:
          format: date-time
          type: number
          x-stream-index: 019
        created_by:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: 018
        created_by_id:
          type: string
          x-stream-index: '017'
        custom:
          additionalProperties: {}
          type: object
          x-stream-index: '021'
        description:
          type: string
          x-stream-index: '003'
        enforce_unique_vote:
          type: boolean
          x-stream-index: '005'
        id:
          type: string
          x-stream-index: '001'
        is_closed:
          type: boolean
          x-stream-index: 009
        latest_answers:
          items:
            $ref: '#/components/schemas/PollVoteResponseData'
          type: array
          x-stream-index: '015'
        latest_votes_by_option:
          additionalProperties:
            items:
              $ref: '#/components/schemas/PollVoteResponseData'
            type: array
          type: object
          x-stream-index: '014'
        max_votes_allowed:
          format: int32
          type: integer
          x-stream-index: '006'
        name:
          type: string
          x-stream-index: '002'
        options:
          items:
            $ref: '#/components/schemas/PollOptionResponseData'
          type: array
          x-stream-index: '011'
        own_votes:
          items:
            $ref: '#/components/schemas/PollVoteResponseData'
          type: array
          x-stream-index: '016'
        updated_at:
          format: date-time
          type: number
          x-stream-index: '020'
        vote_count:
          format: int32
          type: integer
          x-stream-index: '010'
        vote_counts_by_option:
          additionalProperties:
            format: int32
            type: integer
          type: object
          x-stream-index: '013'
        voting_visibility:
          type: string
          x-stream-index: '004'
      required:
      - id
      - name
      - description
      - voting_visibility
      - enforce_unique_vote
      - allow_user_suggested_options
      - allow_answers
      - vote_count
      - options
      - answers_count
      - vote_counts_by_option
      - latest_votes_by_option
      - latest_answers
      - own_votes
      - created_by_id
      - created_at
      - updated_at
      - custom
      type: object
    ChatReminderResponseData:
      properties:
        channel_cid:
          type: string
          x-stream-index: '002'
        created_at:
          format: date-time
          type: number
          x-stream-index: '007'
        message:
          $ref: '#/components/schemas/ChatMessageResponse'
          x-stream-index: '004'
        message_id:
          type: string
          x-stream-index: '003'
        remind_at:
          format: date-time
          type: number
          x-stream-index: '001'
        updated_at:
          format: date-time
          type: number
          x-stream-index: 008
        user:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '006'
        user_id:
          type: string
          x-stream-index: '005'
      required:
      - channel_cid
      - message_id
      - user_id
      - created_at
      - updated_at
      type: object
    UpsertModerationTemplateRequest:
      nullable: true
      properties:
        config:
          $ref: '#/components/schemas/FeedsModerationTemplateConfigPayload'
          description: Configuration for the moderation template
          title: Config
          x-stream-index: '002'
        name:
          description: Name of the moderation template
          title: Name
          type: string
          x-stream-index: '001'
      required:
      - name
      - config
      type: object
    ChatMessageResponse:
      properties:
        attachments:
          items:
            $ref: '#/components/schemas/Attachment'
          type: array
          x-stream-index: 009
        cid:
          type: string
          x-stream-index: '022'
        command:
          type: string
          x-stream-index: '004'
        created_at:
          format: date-time
          type: number
          x-stream-index: '023'
        custom:
          additionalProperties: {}
          type: object
          x-stream-index: '026'
        deleted_at:
          format: date-time
          type: number
          x-stream-index: '025'
        deleted_for_me:
          type: boolean
          x-stream-index: 048
        deleted_reply_count:
          format: int32
          type: integer
          x-stream-index: 018
        draft:
          $ref: '#/components/schemas/ChatDraftResponse'
          x-stream-index: '045'
        html:
          type: string
          x-stream-index: '005'
        i18n:
          additionalProperties:
            type: string
          type: object
          x-stream-index: '034'
        id:
          type: string
          x-stream-index: '001'
        image_labels:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-stream-index: 028
        latest_reactions:
          items:
            $ref: '#/components/schemas/ChatReactionResponse'
          type: array
          x-stream-index: '010'
        member:
          $ref: '#/components/schemas/ChannelMemberResponse'
          x-stream-index: 008
        mentioned_channel:
          type: boolean
          x-stream-index: '032'
        mentioned_group_ids:
          items:
            type: string
          type: array
          x-stream-index: '031'
        mentioned_here:
          type: boolean
          x-stream-index: '033'
        mentioned_roles:
          items:
            type: string
          type: array
          x-stream-index: '030'
        mentioned_users:
          items:
            $ref: '#/components/schemas/UserResponse'
          type: array
          x-stream-index: 029
        message_text_updated_at:
          format: date-time
          type: number
          x-stream-index: '040'
        mml:
          type: string
          x-stream-index: '003'
        moderation:
          $ref: '#/components/schemas/ChatModerationV2Response'
          x-stream-index: '043'
        own_reactions:
          items:
            $ref: '#/components/schemas/ChatReactionResponse'
          type: array
          x-stream-index: '011'
        parent_id:
          type: string
          x-stream-index: '015'
        pin_expires:
          format: date-time
          type: number
          x-stream-index: 039
        pinned:
          type: boolean
          x-stream-index: '036'
        pinned_at:
          format: date-time
          type: number
          x-stream-index: '037'
        pinned_by:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: 038
        poll:
          $ref: '#/components/schemas/PollResponseData'
          x-stream-index: '042'
        poll_id:
          type: string
          x-stream-index: '041'
        quoted_message:
          $ref: '#/components/schemas/ChatMessageResponse'
          x-stream-index: '020'
        quoted_message_id:
          type: string
          x-stream-index: 019
        reaction_counts:
          additionalProperties:
            format: int32
            type: integer
          type: object
          x-stream-index: '012'
        reaction_groups:
          additionalProperties:
            $ref: '#/components/schemas/ChatReactionGroupResponse'
          type: object
          x-stream-index: '014'
        reaction_scores:
          additionalProperties:
            format: int32
            type: integer
          type: object
          x-stream-index: '013'
        reminder:
          $ref: '#/components/schemas/ChatReminderResponseData'
          x-stream-index: '046'
        reply_count:
          format: int32
          type: integer
          x-stream-index: '017'
        restricted_visibility:
          items:
            type: string
          type: array
          x-stream-index: '044'
        shadowed:
          type: boolean
          x-stream-index: '027'
        shared_location:
          $ref: '#/components/schemas/ChatSharedLocationResponseData'
          x-stream-index: '047'
        show_in_channel:
          type: boolean
          x-stream-index: '016'
        silent:
          type: boolean
          x-stream-index: '035'
        text:
          type: string
          x-stream-index: '002'
        thread_participants:
          items:
            $ref: '#/components/schemas/UserResponse'
          type: array
          x-stream-index: '021'
        type:
          type: string
          x-stream-index: '006'
        updated_at:
          format: date-time
          type: number
          x-stream-index: '024'
        user:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '007'
      required:
      - id
      - text
      - html
      - type
      - user
      - attachments
      - latest_reactions
      - own_reactions
      - reaction_counts
      - reaction_scores
      - reply_count
      - deleted_reply_count
      - cid
      - created_at
      - updated_at
      - custom
      - shadowed
      - mentioned_users
      - mentioned_channel
      - mentioned_here
      - silent
      - pinned
      - restricted_visibility
      type: object
    EscalationMetadata:
      properties:
        notes:
          type: string
          x-stream-index: '002'
        priority:
          type: string
          x-stream-index: '003'
        reason:
          type: string
          x-stream-index: '001'
      type: object
    ChannelConfigWithInfo:
      properties:
        allowed_flag_reasons:
          items:
            type: string
          type: array
          x-stream-index: 001.002.028
        automod:
          enum:
          - disabled
          - simple
          - AI
          type: string
          x-stream-index: 001.002.023
        automod_behavior:
          enum:
          - flag
          - block
          - shadow_block
          type: string
          x-stream-index: 001.002.024
        automod_thresholds:
          $ref: '#/components/schemas/Thresholds'
          x-stream-index: 001.002.029
        blocklist:
          type: string
          x-stream-index: 001.002.025
        blocklist_behavior:
          enum:
          - flag
          - block
          - shadow_block
          type: string
          x-stream-index: 001.002.026
        blocklists:
          items:
            $ref: '#/components/schemas/BlockListOptions'
          type: array
          x-stream-index: 001.002.027
        chat_preferences:
          $ref: '#/components/schemas/ChatPreferences'
          x-stream-index: 001.002.034
        commands:
          items:
            $ref: '#/components/schemas/Command'
          type: array
          x-stream-index: '001.003'
        connect_events:
          type: boolean
          x-stream-index: 001.002.004
        count_messages:
          type: boolean
          x-stream-index: 001.002.020
        created_at:
          format: date-time
          type: number
          x-stream-index: 001.001.003
        custom_events:
          type: boolean
          x-stream-index: 001.002.013
        delivery_events:
          type: boolean
          x-stream-index: 001.002.005
        grants:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          x-stream-index: '002'
        mark_messages_pending:
          type: boolean
          x-stream-index: 001.002.016
        max_message_length:
          format: int32
          maximum: 20000
          type: integer
          x-stream-index: 001.002.022
        mutes:
          type: boolean
          x-stream-index: 001.002.010
        name:
          type: string
          x-stream-index: 001.002.001
        partition_size:
          format: int32
          type: integer
          x-stream-index: 001.002.030
        partition_ttl:
          example: 24h
          format: duration
          nullable: true
          type: string
          x-stream-index: 001.002.031
        polls:
          type: boolean
          x-stream-index: 001.002.017
        push_level:
          enum:
          - all
          - all_mentions
          - mentions
          - direct_mentions
          - none
          type: string
          x-stream-index: 001.002.033
        push_notifications:
          type: boolean
          x-stream-index: 001.002.014
        quotes:
          type: boolean
          x-stream-index: 001.002.009
        reactions:
          type: boolean
          x-stream-index: 001.002.007
        read_events:
          type: boolean
          x-stream-index: 001.002.003
        reminders:
          type: boolean
          x-stream-index: 001.002.015
        replies:
          type: boolean
          x-stream-index: 001.002.008
        search:
          type: boolean
          x-stream-index: 001.002.006
        shared_locations:
          type: boolean
          x-stream-index: 001.002.019
        skip_last_msg_update_for_system_msgs:
          type: boolean
          x-stream-index: 001.002.032
        typing_events:
          type: boolean
          x-stream-index: 001.002.002
        updated_at:
          format: date-time
          type: number
          x-stream-index: 001.001.004
        uploads:
          type: boolean
          x-stream-index: 001.002.011
        url_enrichment:
          type: boolean
          x-stream-index: 001.002.012
        user_message_reminders:
          type: boolean
          x-stream-index: 001.002.018
      required:
      - created_at
      - updated_at
      - name
      - typing_events
      - read_events
      - connect_events
      - delivery_events
      - search
      - reactions
      - replies
      - quotes
      - mutes
      - uploads
      - url_enrichment
      - custom_events
      - push_notifications
      - reminders
      - mark_messages_pending
      - polls
      - user_message_reminders
      - shared_locations
      - count_messages
      - message_retention
      - max_message_length
      - automod
      - automod_behavior
      - skip_last_msg_update_for_system_msgs
      - commands
      type: object
    CallParticipantResponse:
      properties:
        joined_at:
          format: date-time
          type: number
          x-stream-index: '004'
        role:
          type: string
          x-stream-index: '003'
        user:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '001'
        user_session_id:
          type: string
          x-stream-index: '002'
      required:
      - user
      - user_session_id
      - role
      - joined_at
      type: object
    GetReviewQueueItemResponse:
      nullable: true
      properties:
        duration:
          type: string
          x-stream-index: '002.001'
        item:
          $ref: '#/components/schemas/ReviewQueueItemResponse'
          description: Current state of the review queue item
          title: Item
          x-stream-index: '001'
      required:
      - duration
      type: object
    CompositeRecordingResponse:
      properties:
        status:
          type: string
          x-stream-index: '001'
      required:
      - status
      type: object
    BlockListConfig:
      properties:
        async:
          type: boolean
          x-stream-index: '001'
        enabled:
          type: boolean
          x-stream-index: '003'
        match_substring:
          type: boolean
          x-stream-index: '002'
        rules:
          items:
            $ref: '#/components/schemas/BlockListRule'
          type: array
          x-stream-index: '004'
      type: object
    ChatModerationV2Response:
      properties:
        action:
          type: string
          x-stream-index: '001'
        blocklist_matched:
          type: string
          x-stream-index: '005'
        blocklists_matched:
          items:
            type: string
          type: array
          x-stream-index: '006'
        image_harms:
          items:
            type: string
          type: array
          x-stream-index: '004'
        original_text:
          type: string
          x-stream-index: '002'
        platform_circumvented:
          type: boolean
          x-stream-index: 008
        semantic_filter_matched:
          type: string
          x-stream-index: '007'
        text_harms:
          items:
            type: string
          type: array
          x-stream-index: '003'
      required:
      - action
      - original_text
      type: object
    UpsertConfigResponse:
      nullable: true
      properties:
        config:
          $ref: '#/components/schemas/ConfigResponse'
          description: The created or updated moderation configuration
          title: Config
          x-stream-index: '001'
        duration:
          type: string
          x-stream-index: '002.001'
      required:
      - duration
      type: object
    CallSettingsResponse:
      properties:
        audio:
          $ref: '#/components/schemas/AudioSettingsResponse'
          x-stream-index: '001'
        backstage:
          $ref: '#/components/schemas/BackstageSettingsResponse'
          x-stream-index: '002'
        broadcasting:
          $ref: '#/components/schemas/BroadcastSettingsResponse'
          x-stream-index: '003'
        frame_recording:
          $ref: '#/components/schemas/FrameRecordingSettingsResponse'
          x-stream-index: 008
        geofencing:
          $ref: '#/components/schemas/GeofenceSettingsResponse'
          x-stream-index: '004'
        individual_recording:
          $ref: '#/components/schemas/IndividualRecordingSettingsResponse'
          x-stream-index: '006'
        ingress:
          $ref: '#/components/schemas/IngressSettingsResponse'
          x-stream-index: '016'
        limits:
          $ref: '#/components/schemas/LimitsSettingsResponse'
          x-stream-index: '014'
        raw_recording:
          $ref: '#/components/schemas/RawRecordingSettingsResponse'
          x-stream-index: '007'
        recording:
          $ref: '#/components/schemas/RecordSettingsResponse'
          x-stream-index: '005'
        ring:
          $ref: '#/components/schemas/RingSettingsResponse'
          x-stream-index: 009
        screensharing:
          $ref: '#/components/schemas/ScreensharingSettingsResponse'
          x-stream-index: '010'
        session:
          $ref: '#/components/schemas/SessionSettingsResponse'
          x-stream-index: '015'
        thumbnails:
          $ref: '#/components/schemas/ThumbnailsSettingsResponse'
          x-stream-index: '013'
        transcription:
          $ref: '#/components/schemas/TranscriptionSettingsResponse'
          x-stream-index: '011'
        video:
          $ref: '#/components/schemas/VideoSettingsResponse'
          x-stream-index: '012'
      required:
      - audio
      - backstage
      - broadcasting
      - geofencing
      - recording
      - individual_recording
      - raw_recording
      - frame_recording
      - ring
      - screensharing
      - transcription
      - video
      - thumbnails
      - limits
      - session
      type: object
    EnrichedActivity:
      properties:
        actor:
          $ref: '#/components/schemas/Data'
          x-stream-index: '002'
        foreign_id:
          type: string
          x-stream-index: '005'
        id:
          type: string
          x-stream-index: '001'
        latest_reactions:
          additionalProperties:
            items:
              $ref: '#/components/schemas/EnrichedReaction'
            type: array
          type: object
          x-stream-index: '013'
        object:
          $ref: '#/components/schemas/Data'
          x-stream-index: '004'
        origin:
          $ref: '#/components/schemas/Data'
          x-stream-index: 008
        own_reactions:
          additionalProperties:
            items:
              $ref: '#/components/schemas/EnrichedReaction'
            type: array
          type: object
          x-stream-index: '012'
        reaction_counts:
          additionalProperties:
            format: int32
            type: integer
          type: object
          x-stream-index: '011'
        score:
          format: float
          type: number
          x-stream-index: '010'
        target:
          $ref: '#/components/schemas/Data'
          x-stream-index: '006'
        to:
          items:
            type: string
          type: array
          x-stream-index: 009
        verb:
          type: string
          x-stream-index: '003'
      type: object
    AutomodPlatformCircumventionConfig:
      properties:
        async:
          type: boolean
          x-stream-index: '001'
        enabled:
          type: boolean
          x-stream-index: '002'
        rules:
          items:
            $ref: '#/components/schemas/AutomodRule'
          type: array
          x-stream-index: '003'
      type: object
    FeedsBookmarkResponse:
      properties:
        activity_id:
          type: string
          x-stream-index: '007'
        created_at:
          format: date-time
          type: number
          x-stream-index: '005'
        custom:
          additionalProperties: {}
          type: object
          x-stream-index: '004'
        object_id:
          type: string
          x-stream-index: '002'
        object_type:
          type: string
          x-stream-index: '001'
        updated_at:
          format: date-time
          type: number
          x-stream-index: '006'
        user:
          $ref: '#/components/schemas/UserResponse'
          x-stream-index: '003'
      required:
      - object_type
      - object_id
      - user
      - created_at
      - updated_at
      type: object
    UserRuleParameters:
      properties:
        max_age:
          type: string
          x-stream-index: '001'
      type: object
    AutomodRule:
      properties:
        action:
          enum:
          - flag
          - shadow
          - remove
          - bounce
          - bounce_flag
          - bounce_remove
          type: string
          x-stream-index: '003'
        label:
          type: string
          x-stream-index: '001'
        threshold:
          format: float
          maximum: 1
          minimum: 0
          type: number
          x-stream-index: '002'
      required:
      - label
[...]
